[2019-06-23 20:22] Shinigami92 opened #1 "Add eslint / typescript-eslint"
Add `eslint` / `typescript-eslint` to improve the code.
We don't want `tslint` because it will be deprecated by the end of the year.

In addition we want to use the rule `typedef` that is currently in review process.
https://github.com/typescript-eslint/typescript-eslint/pull/581

[2019-06-23 20:30] Shinigami92 opened #2 "Support wrap for attributes"
Currently all attributes of a tag are written in the same line.
We should wrap the attributes at a certain point. This can be the maximum line length (prettier's [`printWidth`](https://prettier.io/docs/en/options.html#print-width)) and / or a configurable number of attributes.
So if we configure `"maxAttributesBeforeWrap": 4`, attributes should be wrapped if there are more than 4.
The name of the

[2019-06-23 20:38] Shinigami92 opened #3 "Configurable quotes"
Use prettier's [`singleQuote`](https://prettier.io/docs/en/options.html#quotes) to correctly quote the attributes.
This should be overwritable via:
[code]

[2019-06-27 15:36] #1 closed

[2019-06-27 17:08] xorik opened #5 "Any chance to get it work with vue single components?"
Prettier works perfectly for the `<script>` tag of vue single-file compontens (.vue files), but it seems like this plugin doesn't work with vue's `<template lang="pug">`.

Do you know if it's possible to make it work?

[2019-06-28 13:38] Shinigami92 commented on #5
Currently you can use the workaround `<template lang="pug" src="./index.pug"></template>`

But to leave this here, I think a good start for a PR could be: https://github.com/prettier/prettier/blob/master/src/language-html/syntax-vue.js

[2019-06-28 13:56] Shinigami92 commented on #2
@rdhar: What's your opinion about how I could implement wrapping?

I have some options:
- Wrap only attributes if there are more then 2 attributes
  - Should be configurable
  - The option `printWidth` is ignored completely
- Wrap with the `printWidth` option and consider the hole line
  - Could be hard to implement
  - Need to consider `printWidth` also for everything else

My last thoughts were

[2019-06-29 09:03] Shinigami92 opened #7 "Moving to @prettier/plugin-pug"
@prettier @lipis

Referring to https://github.com/prettier/prettier/issues/6245#issuecomment-506885029 and https://twitter.com/PrettierCode/status/1144730688727523328

Generally, I would support it if we move the repository to [@prettier/plugin-pug](https://www.npmjs.com/package/@prettier/plugin-pug) and [prettier/plugin-pug](https://github.com/prettier/plugin-pug)

But I have some questions:
- Ma

[2019-07-01 16:48] #3 closed

[2019-07-01 22:11] rdhar commented on #2
Thanks for your patience, @Shinigami92.

If I go off a tangential example for a bit, here's an extract of TypeScript.

<details><summary>View TypeScript code extract...</summary>
<pre>class Student {
    fullName: string;

    constructor(
        public firstName: string,
        public middleInitial: string,
        public lastName: string,
        ) {
            this.fullName = firstName + ' '

[2019-07-01 22:19] Shinigami92 commented on #2
Oh my f*** god
That took only ~ 3 hours .-.
I'm so finished right now

Will release an alpha.7 for testing
If it's is stabel, I think I can release an RC.1 ^^

[2019-07-01 22:19] #2 closed

[2019-07-01 22:27] rdhar commented on #2
So sorry for the hassle but, **really well done**! 👍 🎉

[2019-07-01 22:34] Shinigami92 commented on #2
[1.0.0-alpha.7](https://www.npmjs.com/package/prettier-plugin-pug) is now released
if you want you can test the **** out of it XD
I will go to bed 😴

[2019-07-02 16:29] j-f1 commented on #7
I’ve sent you an invite to the Prettier org. You should be able to transfer this repo into the Pug team I’ve created for you. The webhooks, issues, and Azure Pipelines setup should transfer. If you don’t end up with admin privileges for the repo, message me here and I’ll get that set up. Unfortunately, I can’t add you to the npm scope since I’m not a member of that scope — cc @azz @suchipi

[2019-07-02 17:51] Shinigami92 commented on #7
<img width="1388" alt="Bildschirmfoto 2019-07-02 um 19 50 29" src="https://user-images.githubusercontent.com/7195563/60534713-b7c2c080-9d02-11e9-8a64-21dc44ace1df.png">

[2019-07-02 17:54] Shinigami92 commented on #7
Ok, I have no access to the settings at the moment.
Can you give me the permissions?

[2019-07-02 18:45] Shinigami92 commented on #7
@j-f1 Maybe the problem is that I'm not a maintainer in https://github.com/orgs/prettier/teams/pug/members

[2019-07-02 19:53] lipis commented on #7
You should have full access right now! Welcome on board.

[2019-07-02 20:57] Shinigami92 commented on #7
Ok
- Azure Pipelines re-setup is working.
- Discord WebHook is working.

Last step: I need to be in the https://www.npmjs.com/org/prettier orga in npm to release a new version
My npm User is: https://www.npmjs.com/~shinigami92

[2019-07-02 21:13] Shinigami92 commented on #7
I was notified by discord that you @j-f1 have added a new collaborator (me)
After this change I cant access the hole settings anymore

![image](https://user-images.githubusercontent.com/7195563/60547004-ebabdf00-9d1e-11e9-9798-c41db8b849aa.png)

![image](https://user-images.githubusercontent.com/7195563/60547032-f797a100-9d1e-11e9-97ab-251fbfc0ea12.png)

[2019-07-02 21:35] lipis commented on #7
I made you an admin.. _with great power comes great responsibility..._ Use it with care :)

[2019-07-02 21:37] Shinigami92 commented on #7
Thank you @lipis, I will take care and I am a truthful person.

[2019-07-02 23:36] j-f1 commented on #7
Sorry about that! I changed the team settings to only have access to some of the settings so future collaborators couldn’t mess things up, then added you as an admin so you could access all of the settings. Something must’ve not gotten saved in the process.

[2019-07-03 03:51] azz commented on #7
@Shinigami92 sent you an invite to the npm org. Once you've accepted you should be able to publish `@prettier/plugin-pug`. If not give me a shout and I'll sort out the permissions (npm is a bit annoying, you can't define teams/packages before invites are accepted or packages are published).

Once the package is published I can correctly set up the `pug` team on the `@prettier` org.

[2019-07-03 03:59] Shinigami92 commented on #7
I have accepted the invitation.
Also want to let you know that I have 2FA or MFA setup for everything :)

It is currently ~6:00 in the morning (in germany) and I'm waking up slowly ^^'
Will publish a version (or maybe also all versions from the past :thinking:?) later in the day when I'm sure I'm not tired and dont make any mistakes ^^

[2019-07-03 06:53] Shinigami92 commented on #7
I published each version and used following steps:

[code]

Maybe I will release an  alpha.9 in short time without code changes but link/readme changes only so it correctly reflected on npmjs.com.

I also added a thanks to the readme for your help.

If you want, you can now twitter 😜

Will close this issue now 🎉

[2019-07-03 06:53] #7 closed

[2019-07-07 12:32] Ulrikop opened #9 "Bug: Apostrophes are destroyed inside of angulars interpolation"
**Used configuration:**
[code]

**Input file:**
[code]

**Output file:**
[code]

**Expected behavior:**
It should not change a text which will be displayed (_it's me_ was changed to _it"s me_).

Additional the handling of spaces after `{{` and before `}}` should be consistently. The added spaces at the second `{{ ... }}` is the expected behavior.

[2019-07-07 16:29] Shinigami92 commented on #9
I fixed it in attributes, but I did not find a way to handle that in text 🤔

The thing is that the correct format needs to be
[code]
and not
[code]

Therefore, we cant quote the text in a way without to escape the single quote
_Needs this_
[code]

So I have written code to procude
[code]
and it is working.
BUT it brokes another test ☹
[code]
I don't know how to pass them

Hope someone can help me

[2019-07-08 16:27] Shinigami92 commented on #9
@j-f1 Do you know if we have any regex/JS experts in @prettier/core who can help me here?

[2019-07-09 07:17] azz commented on #9
@lydell!

[2019-07-09 18:36] marlonmarcello opened #11 "Mixins and Includes"
Hi there!
I am having an a weird issue with mixins and includes.
I am using the default settings.

The testing file:
[code]

### Issue 1
`include`s are turning into tags, like this:
`include./includes/_helpers.pug`

### Issue 2
An error is returned for the `+stylesheet()` mixin.
[code]

[2019-07-09 18:40] Shinigami92 commented on #11
Thanks, absolutely no problem
I did not handle every token because I did not know pug three months ago
I will be implementing this token in the near future

[2019-07-09 19:47] marlonmarcello commented on #11
Awesome man, thanks a ton @Shinigami92 !

[2019-07-09 19:50] Shinigami92 commented on #11
@marlonmarcello Thank YOU for supporting me, giving feedback and using my work 😃

[2019-07-09 19:50] #11 closed

[2019-07-09 20:02] Shinigami92 commented on #11
@marlonmarcello Released: https://www.npmjs.com/package/@prettier/plugin-pug/v/1.0.0-alpha.9

[2019-07-09 20:21] marlonmarcello commented on #11
That was fast! ⚡️⚡️⚡️
Gonna try now.

[2019-07-09 20:29] marlonmarcello commented on #11
Working like a charm! 🥇
I got another question for ya, I noticed that commas are getting added to the attributes so for example:
`a(href="//google.com" target="_blank")`
becomes
`a(href="//google.com", target="_blank")`

I don't see any reference to this on the docs: https://pugjs.org/language/attributes.html
Do you plan on having that as an option later on or is it gonna be permanent?

[2019-07-09 20:32] Shinigami92 commented on #11
Cool that it works

Yes, that was planned for later

Can you please make a porposal / feature request with an option that should be taken?

[2019-07-10 13:33] lydell commented on #9
Hehe, yeah, I like regexp, but I'm not quite sure what you are trying to do here? People write Angular using Pug and therefore embed pieces of Angular template code inside attributes, and you're trying to do regex replacements on them (instead of parsing)?

[2019-07-10 13:43] Shinigami92 commented on #9
@lydell Yea... something like that. One problem is that I cant use prettier to format _js_ code in example mustache brackets because the prettier will use linebreaks and semicolons and stuff and breaks the formatting completely.

Therefore I want to handle quotes on this place:
https://github.com/prettier/plugin-pug/blob/8890d4c957d4392c03034800086ed387bcc4aca4/src/index.ts#L401-L410

But it has s

[2019-07-11 16:43] marlonmarcello opened #13 "Feature Request: Make the separation of attributes with a comma an option"
Hi @Shinigami92 !
As we previously talked on #11 I am making a feature request!

Looking through Pug's docs, they never use comma to separate the attributes on tags.

I think we should keep it consistent and have that same behaviour as default.

I, personally would remove the comma separation completely but I can see how it can be nice for other users, so I propose we make it an option.

The optio

[2019-07-11 17:08] Shinigami92 commented on #13
The [documentation](https://pugjs.org/language/attributes.html) says the following:

So there are two different possibilities:
[code]

However, there is a problem:
The pug source code needs to be parsed by the `lexer` and therefore something like
`div(class='div-class' (click)='play()')` [angular] will result in an SyntaxError.
Something like `div(class='div-class' @click='play()')` [vue] will pas

[2019-07-11 17:36] marlonmarcello commented on #13
These are all great points @Shinigami92 I had never used pug with Angular, Vue or any framework with templates. I've been using it for years to create static website templates and those are great use cases.

I really like your suggestion, I feel like `'as-needed'` though, will create inconsistencies which is what prettier tries to avoid. I was looking at [pug-lint](https://github.com/pugjs/pug-lin

[2019-07-11 17:40] marlonmarcello commented on #13
What do you think of this. Having an option, called `attributeSeparator`, or similar, that defaults to `comma`, which is what you have right now and seems to be the best option, but  you could use `none|false` for when you don't want anything, or 'quotes' for when you want quoted attributes.

[2019-07-11 17:51] Shinigami92 commented on #13
So
[code]

And what if someone thinks "Hey, I'm happy and want colons" 😄?
[code]

🤔

I think we should find an option that does not need to be documented, strictly clear and simple.
The inspiration of `as-needed` is coming from tools like:
- [Prettier: Quote Props](https://prettier.io/docs/en/options.html#quote-props)
- [TSLint: object-literal-key-quotes](https://palantir.github.io/tslint/rules/ob

[2019-07-12 11:34] lydell commented on #9
It's not possible to do this safely with regex. Consider this example:

[code]

[2019-07-12 11:47] Shinigami92 commented on #9
Besides this example hurts my brain, do you know another strategy?

I will build a test for you example 😁

[2019-07-12 14:08] lydell commented on #9
I think you'll have to parse it as JS and then print is somehow. If it _is_ JS. But btw, how can you know that the attribute contains Angular code?

[2019-07-12 14:48] Shinigami92 commented on #9
If text starts and ends with mustache brackets, I assume js code.
I cant use prettier format js because that produce newlines. I need everything in a single line.

Maybe I should check if there are different quotes in the string and if so then dont touch it?

[2019-07-12 15:40] ikatyang commented on #9
FYI, there is a [`__ng_interpolation`](https://github.com/prettier/prettier/blob/91a7aa081e344a830e33a982856674757d73f701/src/language-js/parser-angular.js#L27) parser, which is used for this purpose.

[2019-07-13 13:14] Shinigami92 commented on #9
@ikatyang Thank you, you have definitely put me on the right track!
I didn't used [`__ng_interpolation`](https://github.com/prettier/prettier/blob/91a7aa081e344a830e33a982856674757d73f701/src/language-js/parser-angular.js#L27) directly, but I tried `format` with different parsers.

At first I tested `format(code, { parser: 'angular' })`.
That solves already some problems like whitespaces, but didn

[2019-07-13 13:15] #9 closed

[2019-07-14 14:17] Shinigami92 commented on #5
@xorik Is it okay for you to use the workaround? Or does it have a high priority?
If you use the workaround, it's also a more native feeling :)

@j-f1 I created a test (locally) and tried to inspect if anything was called in my plugin. But it doesn't call anything 🤔
I thought the [`embed`](https://github.com/prettier/plugin-pug/blob/1697fae6e7a47d2b1b7136082b1fb684b6f8deb7/src/index.ts#L526-L534)

[2019-07-14 14:29] xorik commented on #5
@Shinigami92 it would be super nice if I could use prettier with your plugin without dividing each vue file to template + script.
I'm not familiar with prettier internal API, but I could try my best to fix this bug. Prettier works with HTML and javascript/typescript sections of vue files without any issues.

Maybe I could try to make an issue to the prettier repo?

[2019-07-14 14:34] Shinigami92 commented on #5
@xorik Yes, maybe you should do that and refer to this issue.

At the moment, I don't really know if it's on the plugin side or on the prettier core side.

I'm surprised that Markdown's formatting works, and that I did nothing to support it.

[2019-07-14 15:39] j-f1 commented on #9
Why didn’t you want to use the `__ng_interpolation` parser?

[2019-07-14 15:43] Shinigami92 commented on #9
Um ... I thought it's used internally
Besides, it works just fine at the moment

And I do not really know how to import the function `__ng_interpolation` into my TypeScript code

[2019-07-14 15:48] j-f1 commented on #9
You should be able to specify `parse: '__ng_interpolation'` in your call to `format()`.

[2019-07-14 15:53] Shinigami92 commented on #9
Ohhhhhh, this think IS the parser .-.
💡

![Mind Blow](https://media.giphy.com/media/xT0xeJpnrWC4XWblEk/giphy.gif)

[2019-07-14 16:00] Shinigami92 commented on #9
Ah, sadly it throws an error:
```SyntaxError: Unexpected token Lexer Error: Unexpected character [`]```

[code]

So nevermind 🤷‍♂️

[2019-07-15 07:34] Shinigami92 opened #14 "Bug: Pug code with two or more interpolations leads to errors"
Pug code with two or more interpolations leads to errors

[code]

[code]

[2019-07-15 13:25] j-f1 commented on #9
What’s in the `code` variable when the error is thrown?

[2019-07-15 14:57] Shinigami92 commented on #9
[code]

[2019-07-15 15:47] j-f1 commented on #9
I think you’re supposed to pass in the whole interpolation, i.e. `{{ `"${ `Jean ${ '"John"' } d'Arc`.toUpperCase() }"` }}`.

[2019-07-15 16:07] marlonmarcello commented on #13
@Shinigami92 took a look at those and you are right again. We start giving too many options, things will get out of control. I like your original idea, just `as-needed` and `always` as options.
Simple, and it will cover all use cases.

[2019-07-15 17:30] Shinigami92 commented on #9
No it's not working 😕

[code]

[code]

[2019-07-15 17:56] Shinigami92 commented on #14
Fixed in https://github.com/prettier/plugin-pug/commit/a80b2f6b8b8c6a5b1f91b51c00f99f036b269816

[2019-07-15 17:56] #14 closed

[2019-07-15 20:15] j-f1 commented on #9
It looks like the Angular parser doesn’t support template strings :(

**Prettier 1.18.2**
[Playground link](https://prettier.io/playground/#N4Igxg9gdgLgprEAuEAzCEAUADAFnAGwImwEoACEAGhAgAcYBLaAZ2VAEMAnLiAdwAK3BGxQcAbhEYATaiABGXDmADWcGAGU6yxlADmyGFwCucGrhgBbAgHVcjeC21g4GkQ8biHAT2TgWbDS6LHBcMAJKepYcyKgcBCE0AFYsAB4AQkqq6hoclnAAMrpwsfGJICmpGrp6BHAAisYQ8KUJZiDaXCFcfgD6vfq9uvBcdBAEHEzQcnRcwzYyMLjIABwADDS

[2019-07-15 20:22] Shinigami92 commented on #9
Yea, checked it at [stackblitz.com](stackblitz.com).
Angular doesn't support template strings in `html` 😌
But Vue does!

[2019-07-15 20:36] Shinigami92 commented on #13
@marlonmarcello Currently working on this feature.
Would like to let you know that I have found a DANGEROUS 🚨 example

[code]

Note the merged `vesrion` into `name`

[code]

[2019-07-15 20:41] Shinigami92 commented on #13
Please give me some examples, so I can add it to the tests

[2019-07-15 20:48] marlonmarcello commented on #13
Oh man. To be fair, on the first example it's a mix of commas and not commas, I feel like that is a job for a linter to fix? What do you think?

Some examples:

Multi line attributes:
[code]
+anchor({ href: "contact/"}).extra-class(data-popup="true")
[code]
.wrapper(data-nav=true data-next="Next" data-prev="Prev" data-slides=4 data-arr=[1,2,3,4,5,6] data-obj={att: 1, attr2: 2})
[code]

[2019-07-15 21:00] Shinigami92 commented on #13
Um... Should `data-nav=true` be shortened to `data-nav`?

Can you give me also the `mixin` to `anchor`?

[2019-07-15 21:05] marlonmarcello commented on #13
I don't think it should be, the PUG compiler will deal with that, because for example, if you set your doctype to `doctype html` when you pass `false` to an attribute like `data-nav=false` pug will remove that attribute from the final HTML file. So I think we should let the compiler decide.

This is the anchor mixin
[code]

[2019-07-15 21:10] Shinigami92 commented on #13
... Have to handle `&attributes`, but in another branch

[2019-07-15 21:13] marlonmarcello commented on #13
Yeah, it's a special case.

[2019-07-15 21:32] Shinigami92 commented on #13
OK ... it works ... ^^ '
But I don't want to publish it right now, because I'm not satisfied with the current output
I think it needs to format more, like the array should be `[1, 2, 3, 4, 5, 6]` and so on
It's too late, I'll work on it tomorrow when I have time

If you want, you can clone the repo, use `yarn link`, test the `issue-13`-branch, and then give more feedback if something is not like y

[2019-07-16 04:30] ikatyang commented on #9
Their grammars are different, you should use [`__vue_expression`](https://github.com/prettier/prettier/blob/91a7aa081e344a830e33a982856674757d73f701/src/language-js/parser-babylon.js#L204) if you'd like to parse vue's `{{expression}}`.

[2019-07-16 06:49] Shinigami92 commented on #9
@ikatyang Nice to know that there are so many internal things I didn't noticed ^^'
I only see the typescript `.d.ts` definitions and use them as docu and learn how to use prettier

So I will try that.
But it seams that `__vue_expression` use the `babel`-parser.

I also don't know how to assume whether it is using vue or angular.
I could introduce an option for `framework`, but I think that is not

[2019-07-16 14:58] ikatyang commented on #9
More precisely, the babel _expression_ parser. Though they use the same parser, their `|`s are printed differently, `|` is printed as a filter in vue but a bitwise OR in js.

IIRC, they are formatted in the same way, the only difference between them is that they support different grammars. I guess you could try to guess which parser to use based on attribute names next to it (vue: `v-*`, `:*`, `@*

[2019-07-16 15:44] #13 closed

[2019-07-16 15:50] Shinigami92 commented on #9
Uh... That would work for attributes. But currently I'm working on `text`,
so there is no attribute key like `v-*` and so on.

I only have something like:

[code]

[2019-07-16 16:02] marlonmarcello commented on #13
Amazing work @Shinigami92 ! Thanks a lot

[2019-07-17 02:21] ikatyang commented on #9
You can simply choose either parser to use, and use another one if the previous parsing failed. The attribute names are just hints for better guessing, it does not really matter if it's wrong since one of the two parsers must be the correct one and their formatting results are the same.

[2019-07-17 07:28] Shinigami92 opened #16 "Internal use of native prettier parsers"
Continuation of the discussion of #9

[2019-07-17 07:51] Shinigami92 commented on #16
@ikatyang
I'm using the native parsers now more heavily: https://github.com/prettier/plugin-pug/commit/9725b196f1a82985ac78a681974ed9e3caf821b8

Now I'm currently at work and tested the commit with `yarn link`
Works nice, BUT!

### Assignments

Something like
[code]
formats to
[code]

That's interesting and I didn't expected this.
Is it expected to use this type of format?

### Class expressions

[2019-07-17 08:33] ikatyang commented on #16
That's a vue event binding, which should use [`__vue_event_binding`](https://github.com/prettier/prettier/blob/8b039ae195d95a780152b21a36acbfaf2d564693/src/language-js/parser-babylon.js#L206) (see [here](https://github.com/prettier/prettier/blob/8b039ae195d95a780152b21a36acbfaf2d564693/src/language-html/printer-html.js#L973-L1011) for more info). You can compare the result from [the Prettier playg

[2019-07-17 10:12] Shinigami92 commented on #16
### Single attributes and printWidth

[code]

This is invalid pug code and can't happen

Since pug is based heavily on indentations and the result can easily break,
I use a `printWidth` of 9000 in interpolations only for the sake of simplicity and as a compromise.

### Assignments

Ok tested it in the playground with
[code]

and it formats always to
[code]

without brackets.

So I will look into i

[2019-07-17 16:28] Shinigami92 commented on #16
Mh... `__vue_event_binding` isn't working at all for this use-case

I think this is fine for now
I will wait on more feedback from the community

[2019-08-12 10:52] nnfans opened #17 "Use with eslint configuration"
Can I use this with eslint configuration?

[2019-08-14 16:39] Shinigami92 commented on #17
Can you provide more information about your problem?
I mainly use TSLint myself and therefore do not know what is not working with eslint.

[2019-08-16 04:20] nnfans commented on #17
Where can I put the plugin pug inside the .eslintrc.json ?
`// .eslintrc.json`
`{
  "extends": ["airbnb", "plugin:prettier/recommended"]
}`

[2019-08-16 16:19] Shinigami92 commented on #17
I think you misunderstood something.
This plugin is for Prettier and not for eslint.
The only place where you can address it is the prettier config file.

[2019-08-25 04:10] nnfans commented on #17
oh, I see. Thanks

[2019-08-25 04:10] #17 closed

[2019-08-26 18:38] simsrw73 opened #18 "Formatting of multiple include directives"
This may be ignorance or misconfiguration on my part, but I'm having trouble figuring it out.

Whenever I use two or more include statements consecutively, prettier removes all indentation after the first instance.

Eg. If I create a new project:
[code]

create an index.pug:
[code]

then run prettier: `npx prettier index.pug`

I get the output:
[code]

What am I doing wrong? Thanks.

[2019-08-26 18:44] Shinigami92 commented on #18
I will investigate time in the next hours/days

[2019-08-26 20:03] #18 closed

[2019-08-26 20:20] Shinigami92 commented on #18
Released as [1.0.1](https://www.npmjs.com/package/@prettier/plugin-pug/v/1.0.1)

[2019-09-04 16:33] meatcar opened #20 "Bug: Spaces get removed around interpolated tags"
## Steps to recreate:

Have a `pug` file like
[code]

Run `yarn prettier` on it. The output is as follows, note the missing spaces around the `[]` brackets.
[code]

This affects inline tags, like links, `em`, `strong`, i.e.

vs

[2019-09-04 20:13] #20 closed

[2019-09-04 20:23] Shinigami92 commented on #20
Released as [1.0.2](https://www.npmjs.com/package/@prettier/plugin-pug/v/1.0.2)
Thanks for using my Plugin 😃

[2019-09-14 14:48] Shinigami92 opened #22 "Support sorting of attributes"
# Support sorting of attributes

It would be nice if attributes could optionally be sorted.

## Acceptance criterion

- [x] No breaking changes
- [x] Minor update
- [x] Sorting attributes is disabled by default
- [x] The order of attributes can be changed / customized
- [x] Tests are implemented

[2019-09-16 07:34] Shinigami92 commented on #22
In frameworks like Vue we have property bindings

In example:
[code]

Currently, the formatter first places an attribute with a colon because the ASCII literal is `58` and occurs before any alphabetical literal

In my opinion, property bindings should take precedence over non-property bindings
Also `v-bind:` should be prioritized

_Need to look into the behavior of `v-on` and `v-slot`_

[2019-10-01 10:01] xavxyz commented on #5
👋, I may have found a hint for us wanting to use `@prettier/plugin-pug` and Vue templates!

https://github.com/prettier/prettier/issues/5371 references a time where there were troubles with Vue templates written with Pug, Prettier formatting Pug templates as HTML templates.

It got fixed by ignoring `template` tags with a `lang` attribute different to `html`: https://github.com/prettier/prettier/p

[2019-10-01 11:28] Shinigami92 commented on #5
Please present this to @prettier/core in the related issue https://github.com/prettier/prettier/issues/6298

I think this is the right way 👍

In my opinion I would suggest to create something like `prettier/language-pug/utils`.
I dont think I can _patch_ something like this from **this** plugin.

[2019-10-01 12:16] xavxyz commented on #5
I get it! 😄

Thanks, 🎩

[2019-10-05 00:41] JounQin opened #24 "bug: Can not handle `<!DOCTYPE html>` correctly"
[code]

[code]

[2019-10-05 05:10] Shinigami92 commented on #24
I will fix this soon (maybe next 24h hours)

In the meanwhile try [pug doctype](https://pugjs.org/language/doctype.html)

[2019-10-05 06:08] JounQin commented on #24
Yep, I've migrated to built-in doctype.

The original content is generated by VSCode emmet.

[2019-10-05 07:05] Shinigami92 commented on #24
Ok, I will also deal with VSCode. Maybe we can also change the emmet generated output.
But now I will start to smash this bug 😀

[2019-10-05 07:28] Shinigami92 commented on #24
I need your opinion.
Would you like it if this plugin can turn that into `pug-code` or should the `text-html` remain untouched?

So this
[code]
could become this
[code]

[2019-10-05 08:08] JounQin commented on #24
I'd love to use `doctype html` which seems more consistent.

[2019-10-05 08:09] Shinigami92 commented on #24
Ok, then I will rebuild it so that it will be transformed to pug

[2019-10-05 08:50] Shinigami92 commented on #24
Ok, in this first iteration, I'm just going to transform singleline `text-html`,
because I have to track wrapping tags and really need to do a lot more things ^^'

[2019-10-05 08:54] #24 closed

[2019-10-05 09:00] JounQin commented on #24
@Shinigami92 Thx for fixing this. I think we could use [angular-html-parser](http://github.com/ikatyang/angular-html-parser) which should be available in `prettier` `parsers` in this case rather than trying to implement parse again which could be buggy and inconsistent with `prettier`'s built-in html behavior.

[2019-10-05 09:04] Shinigami92 commented on #24
Released as [1.0.4](https://www.npmjs.com/package/@prettier/plugin-pug/v/1.0.4)
Thanks for using my Plugin 😃

Ok, thanks for mentioning, I will open a new issue and then I will enjoy my weekend 😋

[2019-10-05 09:07] Shinigami92 opened #26 "Transform wrapping html tags to pug"
### This
[code]
### Should become this
[code]

[2019-10-05 09:08] Shinigami92 commented on #26
Followup Issue of https://github.com/prettier/plugin-pug/issues/24#issuecomment-538630980

[2019-10-05 09:09] JounQin commented on #24
Happy weekend.

[2019-10-05 09:20] Shinigami92 commented on #24
Created an Issue to find the right place of the emmet abbrevation `html:5`
https://github.com/microsoft/vscode/issues/81993

[2019-10-22 17:13] demaisj opened #27 "Plugin makes syntax invalid"
Hello, today while setting up prettier + prettier-pug I encountered this problem:

The prettier-pug plugin, when ran on a pug file with the --write flag, will fix the code style and as a side-effect sometimes corrupt the syntax of the file, producing an invalid file which cannot be processed on subsequent runs.

As an example here this completely valid pug file:
[code]

The prettier-pug produces t

[2019-10-22 17:20] Shinigami92 commented on #27
I will work on it in two days

[2019-10-23 16:16] #27 closed

[2019-10-23 16:25] Shinigami92 commented on #27
Released as [1.0.5](https://www.npmjs.com/package/@prettier/plugin-pug/v/1.0.5)
Thanks for using my Plugin 😃

If something is not working correctly, please reply to this issue.

[2019-11-04 16:52] Applelo opened #29 "Impossible to format pug with 'each'"
I use the "Format Document" option with the VSCode extension on this simple pug file:

[code]

But I got this error.

`
Unhandled token/Users/loisboubault/Tools/test/test.pug:: {"type"/Users/loisboubault/Tools/test/test.pug::"each","loc"/Users/loisboubault/Tools/test/test.pug::{"start"/Users/loisboubault/Tools/test/test.pug::{"line"/Users/loisboubault/Tools/test/test.pug::3,"column"/Users/loisboub

[2019-11-04 17:05] Shinigami92 commented on #29
In a few days it will be supported 😉

[2019-11-04 19:30] Shinigami92 commented on #29
Turns out that was very easy to implement... a little bit to easy.
There is a `key` in the `each`-Token and the value of this `key` is `null` in your provided example.
So in this current implementation it could be buggy for special cases. If this turns out to be a problem, please report an additional Issue with logs!  Thx 🙏

[2019-11-04 19:30] #29 closed

[2019-11-04 19:37] Shinigami92 commented on #29
Released as [1.0.6](https://www.npmjs.com/package/@prettier/plugin-pug/v/1.0.6)
Thanks for using my Plugin 😃

[2019-11-07 22:36] Applelo opened #31 "Don't replace != to ="
I would like to pass Unescaped Buffered Code in my div but your plugin replace the != to = .

For example:
`div!='<p>Hello</p>'`

is transformed to

`div= '<p>Hello</p>'`

[2019-11-07 22:47] Applelo opened #32 "Refer to pug documentation for prettier formatting"
It would be nice if you refer more to pug formatting like they do in there documentation.
For example use space instead of comma to separate attributes.

If it's possible, add an parameter to make Class and ID Literal optional.

[2019-11-08 05:15] Shinigami92 commented on #32
That was a design decision

https://github.com/prettier/plugin-pug/issues/13

You can use prettiers override to set the option

[2019-11-08 05:18] Shinigami92 commented on #31
Will look into it in next few days

[2019-11-08 08:19] Shinigami92 commented on #32
I updated the README.md

https://github.com/prettier/plugin-pug/blob/master/README.md#prettier-pug-specific-options

If you miss anything, please let me know
Otherwise feel free to close this issue

[2019-11-08 08:48] #31 closed

[2019-11-08 14:31] Applelo commented on #32
Like I said, is it possible to make optional the formatting of Class / ID to literal ?

[2019-11-08 14:34] Applelo opened #34 "Add support for while and case"
When I use case or while loop, I get an error in my code because your plugin doesn't support it.

You can reproduce the bug with the code of the pug documentation

[code]

[code]

[2019-11-08 15:04] Shinigami92 commented on #32
Have to think about it
I think I wont do it in the next few day, because I target bugs first and have prio to other projects

[2019-11-08 15:29] #34 closed

[2019-11-09 11:24] Shinigami92 opened #36 "Option for disabling formatting of Class and ID literals"
Let the user decide if the formatter should format Class and ID literals or not

---

based on #32

[2019-11-09 11:25] #32 closed

[2019-11-09 11:26] Shinigami92 commented on #32
I extracted the feature request into it's own issue so it is more clean and better managable for me

[2019-11-14 21:20] Applelo opened #38 "Add support for the else-if"
Can you add the support for the conditional else if ?
For example :

[code]

[2019-11-14 21:26] Applelo opened #39 "Support multilines javascript"
I get an error when I use multiline javascript with pug.

[code]

[code]

[2019-11-14 21:29] Applelo opened #40 "Add support for interpolation"
Can you add the support for interpolation ?
See https://pugjs.org/language/interpolation.html

[2019-11-14 21:48] Shinigami92 commented on #40
Please provide me some code, so I can create a test for that

I heavily using TDD -> https://github.com/prettier/plugin-pug/tree/master/test/issues

[2019-11-14 21:50] Shinigami92 commented on #38
You found the perfect timing, because tomorrow I can work on all three of your issues :)

[2019-11-14 22:05] Applelo commented on #40
Ok so I try some test, the interpolation work but not with his case:

[code]

[2019-11-15 08:10] #38 closed

[2019-11-15 08:52] Shinigami92 commented on #39
Things getting complicated 😂

[2019-11-15 09:16] #40 closed

[2019-11-15 10:16] #39 closed

[2019-11-15 10:17] Shinigami92 commented on #39
I hope I did not introduce more bugs than I fixed... 😅

[2019-11-15 18:18] Applelo opened #45 "Bug: Doesn't take the singleQuote option"
Since the 1.0.10, singlequote are transformed into double quotes even if I set singleQuote option.
I tried with the 1.0.9 and I don't have this bug.

For example:
[code]

is transformed into
[code]

[2019-11-15 18:23] Shinigami92 commented on #45
Is it only in these code blocks?

[2019-11-15 18:26] Applelo commented on #45
No, in all my pug files, single quotes are tranformed into double quotes.

[2019-11-15 18:27] Shinigami92 commented on #45
Do you have a repo that you can link?
And can you copy your prettier config?

[2019-11-15 18:40] Shinigami92 commented on #45
I can't reproduce it? I have a project with 81 pug files

My `.prettierrc.json` config
[code]

[2019-11-15 18:43] Shinigami92 commented on #45
I also have tests for this: https://github.com/prettier/plugin-pug/tree/master/test/quotes

[2019-11-18 19:24] Applelo commented on #45
I have create a repo with an example of the problem. The prettier config is in the package.json.
https://github.com/Applelo/plugin-pug-issue-45

[2019-11-18 19:30] Shinigami92 commented on #45
Ha! I got it

The code in your pug file is JavaScript
JavaScript will be single quoted
And pug attributes will be double quoted

Just add a tag with attributes and play with the singleQuote attribute in both places
Then you will understand

[2019-11-18 19:41] Applelo commented on #45
Oh ok, so I add this configuration and it's work fine. Thanks for your answer.
[code]

[2019-11-18 19:43] Applelo commented on #45
For me, pug attributes are singleQuoted and javascript content is transformed into double quotes.

[2019-11-18 19:47] Shinigami92 commented on #45
https://github.com/prettier/plugin-pug/blob/b7d26c7692b1146cb2717175a092d48bf9673e1e/src/index.ts#L147

The quotes will always be the other way around than JavaScripts configuration

[2019-11-18 19:49] Applelo commented on #45
No way to have singleQuote everywhere in my pug files ?

[2019-11-18 19:51] Shinigami92 commented on #45
Currently no.
I have to inwestigate if this can be possible.
I think that I have done this for a reason 🤔

[2019-11-18 20:26] Shinigami92 commented on #45
https://github.com/prettier/plugin-pug/blob/master/test/quotes/single-to-double/formatted.pug

Here the colon prefixed values and the curly braced value are JavaScript

I'm thinking about to implement options for enabling vue and angular specialized code...

Is it a huge problem for you that the quotes are different for js and pug in one file?

[2019-11-18 20:42] Applelo commented on #45
It's not a huge problem but I prefer to have only single quotes in all my projects. Don't have this possibility will make me use another formater for pug files.

[2019-11-18 20:48] Shinigami92 commented on #45
Ok, using another formatter means a huge problem 😏

So I will work on it the next days

I need two things from you
1. are you using any frameworks like vue or angular?
2. give me some pug code with complex examples how you want to have the formatted result. Then I can use it as input and output for my tests

[2019-11-18 21:00] Applelo commented on #45
Yeah, maybe in the future I will work with Vue and Pug. I will make you soon a sample with complex pug code.

[2019-11-19 13:04] Shinigami92 commented on #45
Sorry, but I think I will only find time next weekend

[2019-11-23 17:20] Shinigami92 commented on #45
@Applelo Ok, I have currently released a 1.0.11
Please give me an example with code how you want it to be formatted and I'll work on it tomorrow

[2019-11-27 03:06] Applelo commented on #45
Sorry for the delay, I have create a repository with a sample of pug code and how I format it: [https://github.com/Applelo/pug-example](https://github.com/Applelo/pug-example)

I will update this with more example when I will have more time to do it.

[2019-11-27 17:08] Shinigami92 commented on #45
Thank you, that's something I can work with!
Please be patient with me if I only have time upcoming weekend

[2019-11-27 17:11] Applelo commented on #45
No problem, take your time. Your are already nice to answer to my requests ^^

[2019-12-01 09:45] Shinigami92 commented on #45
@Applelo I'm thinking about three ways to implement this

1. Introduce new option `pugCodeSingleQuote` with `true`/`false`
   - A thierd option... JS quotes, pug quotes and pug code quotes 😨
2. Introduce new option `attributeSingleQuote` with `true`/`false`
   - This aligns with the `attributeSeparator` option of my plugin
   - Introduce a breaking change
3. Try to access the base option of `singl

[2019-12-04 21:57] ekfuhrmann opened #47 "Comment blocks breaking tab index"
When trying to comment out tab indexed pug code, prettier seems to be stripping out the tab index, rendering the code useless upon uncommenting.

I put together 2 quick example showing the issue I'm getting for both pug block comments, as well as individual line comments

**Block Comment**
![block-comment](https://user-images.githubusercontent.com/8878152/70184753-7ae66580-16b6-11ea-833b-5f10bf097

[2019-12-05 06:59] Shinigami92 commented on #47
### Background

The idea was to remove multiple spaces from text comments.
Maybe I should do that only for `buffer`ed comments 🤔
But ... no, I cant do that because buffered comments are displayed in HTML and unbuffered ones are not

I also cant distinguish between a code comment and simple text

[code]

`just` could be a tag (in example a Vue Component)

### Idea 1

Implement an option `preserveCo

[2019-12-05 09:31] Shinigami92 commented on #47
I have defined an option `commentPreserveSpaces` with possible values `'keep-all' | 'keep-leading' | 'trim-all'`

[2019-12-05 10:23] #47 closed

[2019-12-05 14:05] ekfuhrmann commented on #47
Perfect, this works great!

Thanks for the quick fix!

[2019-12-06 22:05] Shinigami92 commented on #45
Maybe I implemented it ... 🤔
And ... oh XD, your test file is not node-8 compatible 🤣

It's really not optimized and can bleed bugs that I didn't cover
Could you test the branch against a huge codebase?

[2019-12-15 14:26] andreubotella opened #49 "An interpolation following an id collapses into it."
The following valid pug code:
[code]
collapses into the following, which isn't valid pug:
[code]

This also happens with lone id's (`#header #{title}`) and unescaped interpolations (`!{title}`). It doesn't happen with classes (`h1.header #{title}`), though.

This seems to be a case of #27 that wasn't handled when the bug was closed.

[2019-12-15 14:40] #49 closed

[2019-12-15 14:53] Shinigami92 commented on #49
Should be fixed in [1.1.1](https://www.npmjs.com/package/@prettier/plugin-pug/v/1.1.1)
Somehow npm seems to need some time to realize that I have deployed a release
Hope a 20-minute fix was quick enough 😂

[2019-12-15 14:57] andreubotella commented on #49
Wow, thanks so much!

It's not like I needed a fix immediately, but that was plenty fast. I'm fine with waiting for npm to catch up.

[2019-12-15 15:01] Shinigami92 commented on #49
You have given me a little sense in this lonely Sunday 🤷‍♂️
So thank you 😅

[2019-12-16 10:18] andreubotella commented on #49
Any news from npm yet?

[2019-12-16 10:19] Shinigami92 commented on #49
I have contacted the npm support
Waiting on a reply

[2019-12-16 19:23] Shinigami92 commented on #49
@andreubotella There it is 🎉

And look at the timestamp :D

![image](https://user-images.githubusercontent.com/7195563/70936061-e0850b00-2041-11ea-8242-c3448a1488c6.png)

[2019-12-17 01:08] Applelo commented on #45
Yeah we use Node 10 to default (webpack 5 ready :) ).

What do you mean? Do you want a automated test in my repo to compare the output?

[2019-12-17 06:26] Shinigami92 commented on #45
Nice to hear

[code]

Then
[code]

And finally `yarn prettier --write src/**/*.pug`

https://yarnpkg.com/lang/en/docs/cli/link/
If you're using npm: https://docs.npmjs.com/cli/link.html

Then tell me if everything is working as expected or if there are any bugs
Especially if there are interpolated code with complex quotation
In example: `div(class=`${jsVariable + "someString"}`)`  ... I dont even

[2020-01-04 13:05] leider opened #51 "ID Transformation breaks with special literals"
`input("some[subkey]")` is converted to `input#some[subkey]`
This definitely does not compile

[2020-01-04 13:10] Shinigami92 commented on #51
Very interesting 🤔, I will examine it this evening

[2020-01-04 13:10] leider opened #52 "Wrongly formatted literal line"
[code]
is formatted to
[code]
Breaks rendering

[2020-01-04 13:11] leider commented on #52
Two issues here:
1. indentation change
2. removal of "|"

[2020-01-04 13:18] leider opened #53 "Wrong replacement of quotes"
`input(onClick="methodname(\"" + variable + "\", this)")` is converted to `input(onClick="methodname(\"\" + variable + \"\", this)")`

this changes semantics massively

[2020-01-04 13:23] Shinigami92 commented on #53
Could this be the same as
`input(onClick="methodname('" + variable + "', this)")`
or
```input(onClick=`methodname("${variable}", this)`)```

you could also add the `"` inside the `methodname`-method

of course as a workaround at first

[2020-01-04 13:24] leider commented on #53
yep. that should work as a workaround

[2020-01-04 13:31] leider opened #54 "wrong replacement of class"
`div(id = id, class = 'collapse' + (collapsed ? '' : ' show') + ' cardcontent')` is transformed to `.cardcontent(id=id, class="collapse' + (collapsed ? '' : ' show') + '")`

easy to see that that will break behaviour

[2020-01-04 13:37] leider commented on #51
it should say `input(id="some[subkey]")`

[2020-01-04 13:48] Shinigami92 commented on #51
you mean instead of `input("some[subkey]")`?

I think I have to parse the id's value and if there is something like `[` dont transform it
-> should be easy ^^

[2020-01-04 15:05] leider opened #55 "incorrect formatting inside data- attribute"
`option(data-content='<span class="' + cssIconClass(val) + '"></span><span class="text-' + cssColorCode(val) + '"> ' + val + '</span>')` is formatted to `option(
          data-content="<span class=\"' + cssIconClass(val) + '\"></span><span class=\"text-' + cssColorCode(val) + '\"> ' + val + '</span>"
        )`

[2020-01-04 15:06] Shinigami92 commented on #55
could be a duplicate of #54

[2020-01-04 15:07] leider commented on #55
Definitely. Just another test-case for you.

[2020-01-04 16:44] #51 closed

[2020-01-04 16:56] Shinigami92 commented on #52
I couldn't reproduce the issue :(
Could you check my test files?

https://github.com/prettier/plugin-pug/pull/57/files

Maybe I need more content to test

[2020-01-04 17:04] leider commented on #52
this is minimal example:
[code]

[2020-01-04 17:06] Shinigami92 commented on #54
I have analyzed your example and I suggest you to rewrite your code
from
[code]
to
[code]

Example: https://pugjs.org/language/attributes.html

[2020-01-04 17:09] leider commented on #54
I see. This way mixing .class notation with class= notation on one and the same node

[2020-01-04 17:09] Shinigami92 commented on #52
Ja! Nun kann ich es reproduzieren 😉

[2020-01-04 17:10] leider commented on #52
Das freut!

[2020-01-04 17:18] #52 closed

[2020-01-04 17:22] Shinigami92 commented on #54
Is the workaround sufficient for you?
Should I add something to the readme?

[2020-01-04 17:22] Shinigami92 commented on #53
Is the workaround sufficient for you?
Should I add something to the readme?

[2020-01-04 17:23] leider commented on #54
For me it is. It is still a bug, right?
Adding to readme recommended.

[2020-01-04 17:24] leider commented on #54
and there still is the other one #55. - I can workaround that by using template string

[2020-01-04 17:25] leider commented on #52
That has been the show stopper for today's pleasure!

[2020-01-04 17:26] leider commented on #51
new release will be appreciated!

[2020-01-04 17:28] Shinigami92 commented on #52
Thats why I want to reflect the other things only as a workaround
- it's better code with the workaround
- it's not that urgent like this issue
- I can release the next version in the next few minutes :)

[2020-01-04 17:29] leider commented on #52
Go for it

[2020-01-04 17:44] Shinigami92 commented on #52
Could you give me a GO for these "documentations"?
https://github.com/prettier/plugin-pug#some-workarounds

[2020-01-04 17:47] leider commented on #52
For #53 only the workaround with template string works for me. Better remove the other proposal: input(onClick="methodname('" + variable + "', this)")

You can check it out, it will also transform to a non working variant.

[2020-01-04 17:48] leider commented on #52
#54 is OK

[2020-01-04 17:50] Shinigami92 commented on #52
Is it because you are forced to double quotes in this place?
Can you test if `input(onClick='methodname("' + variable + '", this)')` is working for you?

[2020-01-04 17:53] Shinigami92 commented on #52
Nevermind... I see 😒 OK this is a problem, but I would want to work on it later

[2020-01-04 17:58] leider commented on #52
transforms to `input(onClick="methodname(\"' + variable + '\", this)")`
not ok

[2020-01-04 18:09] Shinigami92 commented on #52
https://www.npmjs.com/package/@prettier/plugin-pug/v/1.1.2 released 🎉

[2020-01-04 18:10] leider commented on #51
still broken in 1.1.2. Example:
[code]

[2020-01-04 18:11] leider commented on #51
myabe your test cases are slightly simplistic? ;)

[2020-01-04 18:14] Shinigami92 commented on #51
Have you cleaned your node_modules folder? Maybe there are conflicting files?!
Because when I add your new example to my test, it pass

[2020-01-04 18:17] leider commented on #51
seems to have been a webstorm caching problem. restarting webstorm solved it

[2020-01-08 08:40] Shinigami92 commented on #55
I added another sentence to my README.md (https://github.com/prettier/plugin-pug/commit/6b0f555e3b824aa4564a6312594f574f05611402)

You should use
[code]

in your code

I will merge Issue #53, #54 and #55 (this issue) into one new Issue to track the base problem

[2020-01-08 08:43] Shinigami92 opened #58 "Handle Attribute Interpolation not using template literals and using quotes"
https://pugjs.org/language/attributes.html#attribute-interpolation

Merged Issues #53. #54 and #55 into this

[2020-01-08 08:45] Shinigami92 commented on #53
Closing as predecessor of #58

[2020-01-08 08:45] #53 closed

[2020-01-08 08:45] Shinigami92 commented on #54
Closing as predecessor of #58

[2020-01-08 08:45] #54 closed

[2020-01-08 08:45] Shinigami92 commented on #55
Closing as predecessor of #58

[2020-01-08 08:45] #55 closed

[2020-01-09 19:46] seletskiy opened #59 "vue-prettier removes completely valid backslash escaping character if it is occuring in text node after some text"
`@prettier/plugin-pug` version: 1.1.2

This is live recording of an editor which triggers prettier on each save.
As you can see there, every time I save a file one backslash is disappearing after another.

![vue-prettier bug](https://user-images.githubusercontent.com/674812/72098302-45750d80-332f-11ea-91b9-172d4d56ccbd.gif)

I also want to mention, that:

* will cause to `\` to disappear on format

[2020-01-09 19:50] Shinigami92 commented on #59
I think I will fix this bug within the next 2 days

[2020-01-09 19:51] seletskiy commented on #59
@Shinigami92: thanks!

[2020-01-10 11:01] seletskiy commented on #59
As a workaround I use `#{'#{{ id }}'}` for now. Ugly, but works.

[2020-01-10 16:46] #59 closed

[2020-01-10 16:54] Shinigami92 commented on #59
Released as [v1.1.3](https://www.npmjs.com/package/@prettier/plugin-pug/v/1.1.3)
Hopefully I didn't break pipeless text interpolation 🙏

Thanks for using my plugin 🙂

[2020-01-10 17:27] seletskiy commented on #59
@Shinigami92: nice one, thanks! I can confirm that it works.

Here is :cake: for doing it TDD style :slightly_smiling_face:

[2020-01-14 15:23] seletskiy opened #61 "Incorrect splitting of attribute value when line is too long"
Before formatting:
[code]

After formatting:
[code]

This is incorrect syntax: no newlines accepted in single quotes.

[2020-01-14 15:27] Shinigami92 commented on #22
Theoretically ready for a beta release

Further thoughts:
- [ ] (maybe) prefer Vue's `v-*` higher up
- [ ] Prefer Angular's `*ng` etc higher up
- [ ] Think about ordering of Vue's [event binding modifiers](https://vuejs.org/v2/guide/events.html#Event-Modifiers)
- [ ] Write more tests for Vue bindings
- [ ] Check Vue's [new slot syntax](https://vuejs.org/v2/guide/components-slots.html#Named-Slots-S

[2020-01-14 15:48] Shinigami92 commented on #61
Can you workaround it (for quick-resolving) by moving it into a shorter function that will be called?

What would be your expected output?

[2020-01-14 16:10] seletskiy commented on #61
Sure thing. I never intended to use it like this, just noticed it during quick and dirty testing.

On Jan 14, 2020, 18:48, at 18:48, Shinigami <notifications@github.com> wrote:

[2020-01-14 18:42] seletskiy commented on #61
Yep, that's also a thing.

[2020-01-15 10:35] Shinigami92 commented on #61
I made some tests on https://pughtml.com

#### Input
[code]

#### Output
[code]

---

To sum up
- Test 5 isn't working at all
- Test 10 and 11 are invalid HTML
- When using no quotes, the result is calculated immediately (and not managed by vue?)
- When using a framework like vue or angular, we should prefer data-binding of this framework (I could add this to README.md 🤔)
- _for me: my plugin erro

[2020-01-15 11:04] seletskiy commented on #61
@Shinigami92:

Across the project there are only to variants (and they are correctly formatted by plugin):
* single quoted value (not wrapped)
* backtick quoted value where value is a dict, e.g.:
[code]
  *I don't like the selected style of formatting* (but that's not exactly part of this issue). I would prefer something like that:
[code]

----
So, to recap: I expect formatting as described in **T

[2020-01-15 11:51] Shinigami92 commented on #61
Could you post me your prettier configuration?

The backtick quoted dict value formatting is definitely something that I could address in the near future in it's own issue

[2020-01-15 12:21] seletskiy commented on #61
@Shinigami92

`prettier.config.js`:
[code]

[2020-01-15 13:13] Shinigami92 commented on #61
Ok, I workaround an internal use of the prettier library itself
I don't currently know if it's a "wrongly" used function of internal prettier parser or if it's also a bug there...

Nevermind, I will release a 1.1.4 for now so that you can work again

There is another (known) "problem" that a tag with only one long argument is wrapped in it's own line
[code]

That's because it's more than 80/`print

[2020-01-15 13:14] #61 closed

[2020-01-15 13:44] seletskiy commented on #61
Just tested it. Works fine. Thank you for such a quick fix!

Well, I personally don't classify it as a problem. Writing such long lines is a bad practice anyway.

[2020-01-20 09:06] RyochanUedasan opened #63 "Incorrect formatting ID attribute of anchor"
#
## version
- pug-cli@1.0.0-alpha6
- prettier@1.18.2
- @prettier/plugin-pug@1.1.4

## example
- Origin ( `test.pug` )
[code]

- Compiled (`test.html`)
[code]

- Formatted
[code]

[2020-01-20 11:09] Shinigami92 commented on #63
Yes, the bug is caused by the dot between index.html
Need to improve it

[2020-01-20 20:31] #63 closed

[2020-01-20 20:49] Shinigami92 commented on #63
Thank you very much! 💖
Not only did you help fixing `id` handling, you also helped identify some other issues with `id` and `class` attributes 🚀

I have released [v1.1.5](https://www.npmjs.com/package/@prettier/plugin-pug/v/1.1.5)
Thanks for using my plugin

[2020-01-24 16:18] anttibull opened #65 "Bug: Incorrect template inheritance processing"
This code should not change:

 **Before**:
[code]
**After**:
[code]

As a result, such code does not work correctly

[2020-01-24 18:11] Shinigami92 commented on #65
Unfortunately I can not reproduce it 🙁
Are you using the latest version?
You may need to provide further details.

[2020-01-27 11:27] anttibull commented on #65
I did not have the latest version, I apologize. In the latest version, everything works well. Thank you for your work.

[2020-01-27 11:27] #65 closed

[2020-02-05 20:25] ekfuhrmann opened #66 "Any way to have mixin preserve json formatting for properties?"
If I have the following formatted code:
[code]

It gets formatted to the following:
[code]

Is there any possible way to prevent this reformatting from happening, as it makes parsing the information far more difficult?

[2020-02-05 20:49] Shinigami92 commented on #66
Mh yeah, I knew this would come someday 😌
I definitely have to work on this problem

Could you get around this in the meantime in the following way?
[code]

It's tricky to implement this feature request, because it's multiline-javascript formatting within pug
And I have to take care of the indentation and other things

I may have time at the upcoming weekend

[2020-02-05 21:56] ekfuhrmann commented on #66
I figured this would be a complicated implementation, so I am totally happy with the `- var` workaround for the time being.

I wish I could help more with the implementation, but I unfortunately do not have much experience with creating linting rules (I'm guessing it's a fair amount of regex?), but I can certainly help test should you come up with anything.

Thanks for the response!

[2020-02-07 15:00] valera33 opened #67 "Parser Error: Missing expected } at the end of the expression"
When we use:
prettier: 1.19.1
@prettier/plugin-pug: 1.1.5

if PUG is something like:
[code]
then we get such Error:

foo.pug[error] foo.pug: SyntaxError: Missing expected } at the end of the expression [{{{param:'hello {name}' | translate:{'name':arg}}}}] in angular-estree-parser
[error]     at o (/myProject/node_modules/prettier/parser-angular.js:15:16477)
[error]     at t.parseNgInterpolation (/

[2020-02-07 15:06] Shinigami92 commented on #67
Will target this bug upcoming weekend

[2020-02-07 15:20] valera33 opened #68 "wrong new line in attributes"
When we use:
prettier: 1.19.1
@prettier/plugin-pug: 1.1.5

if PUG is something like:
[code]

then we get such result:
[code]
It shouldnt add any line breaks here, or if it does then it should add "\\" at the end of first line.

[2020-02-08 11:38] Shinigami92 commented on #68
I think I can merge this with #67

[2020-02-08 12:54] #67 closed

[2020-02-08 12:54] #68 closed

[2020-02-09 10:05] Shinigami92 commented on #66
Uff... we have a huge problem here :/

https://github.com/prettier/plugin-pug/blob/34f3a5d3dd9e09864cee17b960ceecb39bc26c48/src/printer.ts#L716-L720

Here we have `args` and it is just a string
In the string there is a comma separated list of arguments. But I cant split it by `,` because if one argument _in example json_ contains comma by it self, it breaks.

So I will ask the author of pugjs to c

[2020-02-10 08:59] valera33 commented on #67
thank for the very quick fix! it is ok now!

[2020-02-10 08:59] valera33 commented on #68
thank for the very quick fix! it is ok now!

[2020-02-10 10:25] valera33 opened #70 "Bug: Unhandled token error if angular pipe has a parameter"
## Info

| Tool     | Version       |
| -------- | ------------- |
| Plugin   | v1.1.6        |
| Prettier | v1.19.1       |
| Node     | v13.6.0       |
| OS       | linux |

## Input

[code]

## Output or Error

[code]

## Expected Output

[code]

## Additional Context

[2020-02-10 12:53] Shinigami92 commented on #70
I will try my best, but let me tell you thats not that easy:

https://github.com/prettier/plugin-pug/blob/34f3a5d3dd9e09864cee17b960ceecb39bc26c48/test/issues/issue-9/formatted.pug#L8

😆

[2020-02-11 15:17] fiznool opened #72 "Bug: class names not extracted correctly from class attribute"
## Info

| Tool     | Version       |
| -------- | ------------- |
| Plugin   | v1.1.6        |
| Prettier | v1.19.1       |
| Node     | v12.15.0       |
| OS       | mac |

## Input

[code]

## Output or Error

[code]

## Expected Output

[code]

## Additional Context

As you can see, everything but the first class is wrapped inside parenthesis, which causes the class names not to be applied.

[2020-02-11 16:11] #72 closed

[2020-02-11 16:15] Shinigami92 commented on #72
Thanks, I thought I had written tests for this case 🤔
I had an internal refactor and maybe this influenced this
Anyway, fixed in 1.1.7

https://github.com/prettier/plugin-pug/commit/7bbc4236e29fef7ae2809adf23a1ba0c4ebe1883

[2020-02-11 16:16] Shinigami92 commented on #70
This fix needs a bit more brain... will target it on weekend

[2020-02-11 16:17] fiznool commented on #72
Thanks!

[2020-02-12 14:23] fiznool opened #73 "Bug: class formatting introduces trailing parenthesis if class length is greater than prettier's printWidth setting"
## Info

| Tool     | Version       |
| -------- | ------------- |
| Plugin   | v1.1.7        |
| Prettier | v1.19.1       |
| Node     | v13.6.0       |
| OS       | win,linux,mac |

## Input

- With prettier's default setting of `printWidth: 80`

[code]

## Output or Error

[code]

## Expected Output

[code]

## Additional Context

Note the extra parens at the end of the actual output. These onl

[2020-02-12 14:37] Shinigami92 commented on #73
Seems like just one formatting would give this result ...
So if you do the formatting twice, it will solve itself

https://github.com/prettier/plugin-pug#prettier-options
That's what I mean by `Currently not very accurate, but works`

[2020-02-12 14:40] Shinigami92 commented on #73
Note to me:

https://github.com/prettier/plugin-pug/blob/1f201f62b98a74901cbfbbad087a8318c82a49a0/src/printer.ts#L260

In this line the class attribute length (`tempToken.name.length` = `5`) is added for each css class 😒

[2020-02-12 15:52] markusheiden opened #74 "Bug: Extra spaces get removed"
## Info

| Tool     | Version       |
| -------- | ------------- |
| Plugin   | v1.1.6        |
| Prettier | v1.19.1       |
| Node     | v13.6.0       |
| OS       | win,linux,mac |

## Input

[code]

Two spaces before `xxx` to get an extra space.

## Expected Output

[code]

## Actual Output

[code]

Just one space before `xxx`. No space will be displayed.

[2020-02-12 19:28] Shinigami92 commented on #73
Good news, I've fixed it
But I also want to fix some other bugs and bundle a release of all fixes instead of releasing a small change every day ^^
I hope it's okay for you to wait a few days

[2020-02-12 19:52] fiznool commented on #73
Great thanks! No big deal waiting, it’s not a showstopper issue 👍

[2020-02-14 14:16] Shinigami92 commented on #70
Referencing #9

[2020-02-14 20:10] #74 closed

[2020-02-14 20:17] Shinigami92 commented on #70
Have released a v1.1.8
Please report me any issues if there are some
Otherwise I can close this issue

[2020-02-14 20:17] #73 closed

[2020-02-17 06:45] valera33 commented on #70
Looks good, we can close the issue, thanks!

[2020-02-17 06:46] #70 closed

[2020-02-17 09:54] valera33 opened #76 "Bug: doent respect printWidth of configuration (border values)"
## Info

| Tool     | Version       |
| -------- | ------------- |
| Plugin   | v1.1.8        |
| Prettier | v1.19.1       |
| Node     | v13.6.0       |
| OS       | linux |

## Input

[code]
Long line is 122 characters long.

## Output

[code]
Output is the same as input, which is wrong

## Expected Output

[code]

## Configuration

[code]
`printWidth` is configured to 120, but if a line is 121

[2020-02-17 18:27] Shinigami92 commented on #76
Thx for the report, will fix it when I have little bit more time

[2020-02-21 11:57] Shinigami92 commented on #76
🤯 https://github.com/prettier/plugin-pug/commit/0ffe395feaa673cb1ae90bce958d9ff47cc27713

[2020-02-21 11:57] #76 closed

[2020-02-21 12:08] toumas opened #77 "AngularJS (1) one-time-binding not supported"
## Info

| Tool     | Version       |
| -------- | ------------- |
| Plugin   | v1.1.8        |
| Prettier | v1.19.1       |
| Node     | v8.12.0       |
| OS       | mac |

## Input

[code]

## Output or Error

[code]

## Expected Output

[code]

## Additional Context
It looks like double colon (::) aka [one-time binding](https://docs.angularjs.org/guide/expression#one-time-binding) isn't recogni

[2020-02-22 12:04] Shinigami92 commented on #77
Ohhhhhh I see, this is AngularJS, not Angular (2+) 😕
I'm using prettier internal functions to handle bindings, actions and expression for Angular and Vue... So it could be, that I cant support this kind of syntax 😞

It's this part:

https://github.com/prettier/plugin-pug/blob/aae29b8249e5c751ad906fd80920edf6b195be12/src/printer.ts#L510-L511

And this will run this part:

https://github.com/prettie

[2020-03-05 09:43] valera33 commented on #76
thx for the fix, didn't have time to check it earlier, works as expected now!

[2020-03-10 09:29] valera33 opened #78 "Bug: removes 2nd block with angular interpolation"
## Info

| Tool     | Version       |
| -------- | ------------- |
| Plugin   | v1.1.9        |
| Prettier | v1.19.1       |
| Node     | v13.6.0       |
| OS       | linux |

## Input

[code]

## Output or Error

[code]

## Expected Output

[code]

[2020-03-10 11:30] Shinigami92 commented on #78
I think that thats coming from starts and ends with `{{...}}`
Have to check the middle of the string

Hope I have time for this soon

[2020-03-14 09:15] Shinigami92 commented on #78
At that time, I'm going to release a hotfix for this issue: https://github.com/prettier/plugin-pug/commit/1968c8cbe4919f747ad25a9d23522309d913bcaa

However, this only suppresses formatting if there is more than one binding within an attribute value. Therefore you have to format them yourself.

[2020-03-24 14:47] Shinigami92 opened #79 "Bug: Error with assignments in vue attributes and prettier v2"
## Info

| Tool     | Version       |
| -------- | ------------- |
| Plugin   | v1.1.10        |
| Prettier | v2.0.2       |
| Node     | v13.10.1       |
| OS       | mac |

## Input

[code]

## Output or Error

[code]

## Expected Output

[code]

## Additional Context

When using new prettier v2, vue attributes that contains assignments throw errors.

[2020-03-24 18:07] Shinigami92 commented on #79
https://github.com/prettier/plugin-pug/commit/c12fc5933827357f9b3ed2fe7ca5f4b670a7c6db

[2020-03-24 18:07] #79 closed

[2020-04-02 11:59] seletskiy opened #80 "Bug: attribute starting with `:` formatted differently from the same attribute without `:`"
Hey @Shinigami92, hope you're doing well.

## Info

| Tool     | Version       |
| -------- | ------------- |
| Plugin   | v1.2.0        |
| Prettier | v1.19.1       |
| Node     | v13.12.0       |
| OS       | linux |

## Input

[code]

## Output or Error

[code]

## Expected Output

[code]

## Additional Context

If `:data` is renamed to `data` (e.g. without `:`), then reformatting doesn't happe

[2020-04-02 14:12] Shinigami92 commented on #80
That's because I support Vue out of the box
Long object definitions should be moved to the responsible component

[2020-04-02 14:15] Shinigami92 commented on #80
If you can live with it, please close this issue
Otherwise, let me know what to do

However, wrapping an object in an attribute is very difficult to implement. That's why I haven't implemented it yet

[2020-04-03 12:10] seletskiy commented on #80
@Shinigami92: I'm not quite sure I understand what do you mean.

I use Vue too and instead of `span` there is an actual component, I've just renamed it to `span` in the issue for the simplicity.

From the user standpoint it's a bit mystery why the formatting is different when you include `:` in the attribute name.

Aren't the following two variants works in the same way in Vue (e.g. data object is

[2020-04-03 12:18] Shinigami92 commented on #80
The `tag` is irrelevant, it's only the `tag`'s `attribute` data-binding
So `v-bind:xy` and `:xy` will be formatted with prettier's vue-expression formatting (same as in html)
`xy` (without data-binding) is not a vue-expression and therefore will not be formatted

I'm calling prettier's vue-expression formatting here:
https://github.com/prettier/plugin-pug/blob/c12fc5933827357f9b3ed2fe7ca5f4b670a7c

[2020-04-03 16:53] seletskiy commented on #80
I think there might be some inconsistency.

For example, I have custom Vue directive `v-bem`, which also supports dict as an argument, which I use like this:

[code]

It doesn't get reformatted (and I don't think it should be reformatted) into single-quoted value despite being Vue specific.

I do not want to have automatic object wrapping done by formatter and I understand that it's difficult to i

[2020-04-03 18:02] Shinigami92 commented on #80
Using \` after `=` in pug is different from using `'` or `"`! When using \`, it will be consumed by pug and parsed as JavaScript.
You should move your object into a computed value

[code]

[code]

Or to make it much shorter

[code]

With the computed value you also benefit from rendercycles, cause its cached

[2020-04-03 20:51] seletskiy commented on #80
@Shinigami92: thanks for the tips, I appreciate.

Are you sure about it? [Pug documentation][1] doesn't say that. It says that using `` ` `` is useful for putting multiline values in the attributes and that's very convenient way for using [object litlerals][2] as described in Vue docs.

I've put an inappropriate example to illustrate the issue and it can be shortened using your tip indeed, but the

[2020-04-04 07:32] Shinigami92 commented on #80
I'm not so sure right now anymore 🤔
but I thought I remember having big problems with it in a different context in the past 🤷‍♂️

---

You are right, you shouldn't use a computed value for the new example.
But why not use a method?

[code]

[code]

In this way, you extract the calculation logic from your view and also benefit from better readability.
On top of this you could benefit from TypeScrip

[2020-04-14 11:53] rromashka commented on #77
I have the same problem with pug und AngularJS

[2020-04-14 11:56] Shinigami92 commented on #77
@rromashka PRs are welcome, I'm willing to review

[2020-05-09 17:15] MentalGear opened #81 "Vue Integration?"
## Request / Idea
Could we get a guide on vue cli integration, please ?

[2020-05-09 17:19] MentalGear commented on #5
Native single vue file integration would be nice! Any news on this?

[2020-05-09 17:21] Shinigami92 commented on #81
I would suggest to outsource your pug file with:

[code]

This is how you get the best language support for `.pug` files directly.

Maybe this is a duplicate of https://github.com/prettier/plugin-pug/issues/5?

[2020-05-09 17:23] MentalGear commented on #81
Yes, I read about this little workaround, though it would be great if we could keep a single file structure. I think you also offered to work on it, did you have any luck with integrating it? :)

[2020-05-09 17:25] Shinigami92 commented on #81
I haven't checked that again. Could try adding a test in the next few days.
I don't have much experience with vue single files because I always use my workaround as the default.

[2020-05-13 12:13] Shinigami92 commented on #5
An update for everyone who is waiting for this functionality:
I defined a prototype test and added a comment to it

https://github.com/prettier/plugin-pug/blob/5da540b15e1974fe169e4cd58d796e38a5babac3/test/embed/vue/embed.test.ts#L7-L8

You can also see in the same file that `html` is working

---

So the problem is that my plugin is not notified that `<template lang="pug">` should be formatted us

[2020-05-21 12:45] kaangokdemir opened #82 "question: How to keep close bracket with last attribute?"
Hello I typed a pug line like this:

[code]

Then run `prettier --write '**/*.pug'`

I've got this result after formatting complete:

[code]

However I want to put close bracket at the end of my `autocomplete` attribute like this:

[code]

Is there a way to do that or I need to change them manually? My `.prettierrc` file is like below, thank you.

[code]

[2020-05-21 12:48] Shinigami92 commented on #82
Interesting style, but this would be a new feature request

[2020-05-21 13:22] #16 closed

[2020-05-23 18:03] Shinigami92 commented on #82
There is a bug 😕

If code is indented, spaces are preserved
I will add a test, can you then add a new PR to fix it?

[2020-05-23 18:05] Shinigami92 commented on #82
https://github.com/prettier/plugin-pug/commit/ad4c6134a33504ddb973f6c664ceec6a9a79fa36

[2020-05-23 18:52] Shinigami92 commented on #82
Currently, more and more spaces / tabs are added before the closing bracket for each indentation

[code]

[2020-05-23 19:25] Shinigami92 commented on #82
I have released [v1.3.0](https://www.npmjs.com/package/@prettier/plugin-pug/v/1.3.0)
Thanks for using my plugin

[2020-05-23 19:25] #82 closed

[2020-05-26 06:09] yuheiy opened #85 "Bug: A semicolon is inserted before the interpolation, starting with the template literal"
## Info

| Tool     | Version       |
| -------- | ------------- |
| Plugin   | v1.3.0        |
| Prettier | v2.0.5       |
| Node     | v12.16.3       |
| OS       | mac |

## Input

[code]

## Output or Error

[code]

## Expected Output

[code]

## Additional Context

A semicolon will not be inserted if there is a string or something before the template literal.

[code]

[2020-05-26 06:13] Shinigami92 commented on #85
Can you also give me your `.prettierrc.json` configuration?

[2020-05-26 06:16] yuheiy commented on #85
I'm using the default configuration.

[2020-05-26 06:18] Shinigami92 commented on #85
Ok, please be patient with me
I have to start regular work and hopefully I can fix this in the evening (~ 8-9h).

[2020-05-26 11:27] Shinigami92 opened #88 "Upgrade pug-lexer to v5"
## Request / Idea

Upgrade `pug-lexer` to `v5`

https://github.com/pugjs/pug/releases/tag/pug-lexer%405.0.0

Also add support for the new `eachOf` token

[2020-05-26 16:49] #85 closed

[2020-05-26 17:29] #88 closed

[2020-05-27 06:10] yuheiy opened #89 "Bug: Blank lines in multi-line comments are indented"
## Info

| Tool     | Version       |
| -------- | ------------- |
| Plugin   | v1.4.0        |
| Prettier | v2.0.5       |
| Node     | v12.17.0       |
| OS       | mac |

## Input

[code]

## Output

[code]

White spaces are inserted at the beginning of the 3rd line.

## Expected Output

[code]

## Additional Context

The same is true if the comments are written from the first line.

input:

[c

[2020-05-27 06:12] yuheiy opened #90 "Bug: A blank line following multi-line comments is indented"
## Info

| Tool     | Version       |
| -------- | ------------- |
| Plugin   | v1.4.0        |
| Prettier | v2.0.5       |
| Node     | v12.17.0       |
| OS       | mac |

## Input

[code]

## Output

[code]

White spaces are inserted at the beginning of the 3rd line.

## Expected Output

[code]

## Additional Context

This is probably related to #89 #91 and #92.

[2020-05-27 06:13] yuheiy opened #91 "Bug: Blank lines in multi-line unbuffered code are indented"
## Info

| Tool     | Version       |
| -------- | ------------- |
| Plugin   | v1.4.0        |
| Prettier | v2.0.5       |
| Node     | v12.17.0       |
| OS       | mac |

## Input

[code]

## Output

[code]

White spaces are inserted at the beginning of the 3rd line.

## Expected Output

[code]

## Additional Context

This is probably related to #89 #90 and #92.

[2020-05-27 06:14] yuheiy opened #92 "Bug: A blank line following multi-line unbuffered code are indented"
## Info

| Tool     | Version       |
| -------- | ------------- |
| Plugin   | v1.4.0        |
| Prettier | v2.0.5       |
| Node     | v12.17.0       |
| OS       | mac |

## Input

[code]

## Output

[code]

White spaces are inserted at the beginning of the 3rd line.

## Expected Output

[code]

## Additional Context

This is probably related to #89 #90 and #91.

[2020-05-27 07:26] Shinigami92 commented on #89
Ok, identified the problem

I'm processing a token stream and there is a `val` after a `newline` that contains an empty string

![image](https://user-images.githubusercontent.com/7195563/82989969-bcb7ef00-9ffb-11ea-85ef-829d461d217d.png)

So I need to implement a check to find out if the next token is a `text` token and contains a (trimmed) empty string

[2020-05-27 08:02] Shinigami92 commented on #89
Ok sorry, need to switch to work right now

The fix it not that easy, because it's related to pipeless text syntax

[code]

https://pugjs.org/language/plain-text.html

[2020-05-27 20:39] Shinigami92 commented on #89
Mh 🤔
I have managed the blank lines
But I found out that my `printWidth` doesn't work well with set to `3` anymore 🤨

Also I'm feeling not very safe enough with my current tests in `test/issues/issue-89`

Do you have some more test-cases with very have edge cases?

[2020-05-28 06:44] Shinigami92 commented on #89
Update: I checked my changes agains some private code on my mac
It doesn't broke anything that is currently working

So I feel a little bit more safe now, but well wait a little bit more on your response, whether you have some more edge cases

[2020-05-28 06:46] yuheiy commented on #89
Sorry, I don't have more edgy cases.

[2020-05-28 08:21] #89 closed

[2020-05-28 08:21] #90 closed

[2020-05-28 08:21] #91 closed

[2020-05-28 08:21] #92 closed

[2020-05-29 19:52] #80 closed

[2020-05-29 20:05] Shinigami92 commented on #80
I have released a [v1.4.2](https://www.npmjs.com/package/@prettier/plugin-pug/v/1.4.2) 🎉

[2020-05-31 18:03] david2tm opened #95 "Bug: Reordering of classes/ids ignores "hidden" DIVs"
## Info
Input, output, expected will explain it a lot better.

| Tool     | Version       |
| -------- | ------------- |
| Plugin   | v1.2.0        |
| Prettier | v1.19.1       |
| OS       | mac |

## Input

[code]

## Output

[code]

## Expected Output

[code]

[2020-05-31 18:07] Shinigami92 commented on #95
But using `#my-subtle-id.test4` directly is working, is it?
So this is not a huge bug with no workaround.
Will try to fix it when I have a bit more time.

If you want to fix it on your own, feel free to open a PR and I will review it 🙂

[2020-05-31 18:12] david2tm commented on #95
Yes using `#my-subtle-id.test4` is working.

[2020-06-01 10:00] #95 closed

[2020-06-04 11:17] Shinigami92 opened #97 "Bug: Top Level tag shoudl not be converted to piped text"
## Info

| Tool     | Version       |
| -------- | ------------- |
| Plugin   | v1.4.3        |
| Prettier | v2.0.5       |
| Node     | v14.4.0       |
| OS       | win,linux,mac |

## Input

[code]

## Output or Error

[code]

## Expected Output

[code]

## Additional Context

https://github.com/prettier/prettier/pull/8465#discussion_r435176046

[2020-06-04 14:59] Shinigami92 commented on #97
Fixed in 1.4.4

[2020-07-02 10:04] xerroxcopy opened #98 "Option to not format double curly braces (mustache)?"
## Request / Idea

I'm using [Stein](https://steinhq.com/) for a very simple website together with pug. Stein [Expedite](https://docs.steinhq.com/expedite-display-data) allows users to use column-names directly in HTML, as in `{{colname}}`. However, prettier seems to format this into `{{ colname }}` even when `bracketSpacing` is set to false. And Stein does not work if formatted that way. Is this

[2020-07-03 08:53] seletskiy opened #99 "Bug: incorrect quotation change in attribute using concatenation with variable"
## Info

| Tool     | Version       |
| -------- | ------------- |
| Plugin   | v1.4.4        |
| Prettier | v2.0.5       |
| Node     | v14.2.0       |
| OS       | linux |

## Input

1. Single quoted strings concatenation
[code]

2. Double quoted strings concatenation
[code]

## Output or Error

1. First and last quote replaced with `"`, while middle stays `'`
[code]

2. Middle quotes are escape

[2020-07-03 08:57] Shinigami92 commented on #99
This is already known and you should use the workaround documented in the README.md for this
https://github.com/prettier/plugin-pug#some-workarounds

[2020-07-03 08:58] Shinigami92 commented on #99
duplicate #58

[2020-07-03 08:58] #99 closed

[2020-07-03 13:27] Shinigami92 commented on #98
Maybe I will try to fix this this weekend, but don't know I have time
But currently there is a audit vulnerability in lodash that is blocking my CI

[2020-07-10 19:54] Shinigami92 commented on #98
@xerroxcopy Can you give me more examples for testing purposes?

IMO it should be more then just text-tokens 🤔

[2020-07-15 09:05] Shinigami92 commented on #5
@fisker Is there an ETA when users can profit from your merge?
https://github.com/prettier/prettier/pull/8465

I think we are waiting on a new prettier `2.1.0` release, do we?

[2020-07-15 09:16] fisker commented on #5
Yes, we still need wait for `v2.1.0` release, and I don't know the schedule.

Good news is Prettier support install from the repo, so this should work.

[code]

[2020-07-15 10:16] Shinigami92 commented on #5
@fisker Yes, I know that this is working.
But I mean waiting for production and global avaiability

[2020-07-15 10:20] fisker commented on #5
We'll have to wait.

[2020-07-17 08:39] xerroxcopy commented on #98
Sorry for the late response. As far as Svelte goes, text should be enough. Not sure of other possible examples though...

[2020-07-17 11:57] Shinigami92 commented on #98
Oh interesting info that you are using Svelte
I'll add a new label for this framework

[2020-07-17 12:31] #98 closed

[2020-07-17 12:36] Shinigami92 commented on #98
I will now release a version `1.5.0`
Thank you for being in the pug community and using my plugin 🎉

[2020-07-20 08:34] xerroxcopy commented on #98
Thank you so much, i've just updated it and it works perfectly! and i'm sorry i meant stein, not svelte... my bad.

[2020-07-28 19:02] jubairsaidi opened #102 "Allow "none" as an option for attributeSeparator"
## Request / Idea

pug does not require commas following the attribute definitions, so can we add one more setting option to `attributeSeparator` so it can be `always || as-needed || none` ?

## Input

[code]

## Expected Output

[code]

## Additional Context

[2020-07-28 19:06] Shinigami92 commented on #102
`'none'` is the equivalent of `'as-needed'`!
Something like `'none'` can potentially BREAK your syntax ⚠️

e.g.:

[code]

[2020-07-28 21:05] jubairsaidi commented on #102
that just looks like something that shouldn't be done lol but I kind of surprised that breaks your code... what frameworks does that break?  it doesn't in vue template="pug"

[2020-07-29 05:32] Shinigami92 commented on #102
Sorry for my rush comment yesterday :)

You can read some parts here #13

I tried following in [pughtml](https://pughtml.com) (cause I use `vue` myself)
[code]

Maybe the [update](https://github.com/prettier/plugin-pug/commit/b644b044a47265d4b4bd2392793048d35505913a#diff-b9cfc7f2cdf78a7f4b91a753d10865a2) `pug-lexer` from v4 to v5 made it more safe 🤔

Or maybe it always was only an angular problem

[2020-07-29 05:54] Shinigami92 commented on #102
At least for the Vue syntax, something has apparently changed at some point 🤷‍♂️

[2020-08-04 04:49] xerroxcopy opened #103 "Option to not format double curly braces, including inside tags"
## Request / Idea

The idea is almost identical to #98, but with extension to tags. I'm very sorry that I have missed your point at 'more than just text-tokens'. You were dead right. I actually needed double curly braces inside tags too. Example from [Stein Expedite docs](https://docs.steinhq.com/expedite-display-data):

[code]
the `{{link}}` inside `<a>` should also be formatted as is, not as `{{

[2020-08-04 06:03] Shinigami92 commented on #103
There they are, the test cases 😜

Sry for beeing a bit like MS Windows: Only add features and fix bugs that are found by users 😛

Hope I have time for this next hours/days

[2020-08-04 13:13] Shinigami92 commented on #103
@xerroxcopy Are there any other parts that needs to be covered?
Pls have a look at https://github.com/prettier/plugin-pug/pull/104/files#diff-4f50bb302d1c998ef11b403520e97609

[2020-08-07 04:05] xerroxcopy commented on #103
I... guess that is enough, but to be bloody honest, I have no idea. Just as MS Windows users, what I can point out is what I only need right now :p I am very sorry. I won't use them as tag names (e.g., `{{tag}}.class-one`), I won't use them inside scripts, while others might. Still, I believe attributes is enough.

[2020-08-07 10:41] #103 closed

[2020-08-07 11:02] Shinigami92 commented on #103
Released as [1.5.1](https://www.npmjs.com/package/@prettier/plugin-pug/v/1.5.1)
Have a nice weekend 👋

[2020-08-13 19:52] jubairsaidi commented on #102
sounds good! sorry for the late response, it's been a busy couple weeks :) I'll see about posting a PR sometime next week.  Thanks!

[2020-08-28 07:47] Shinigami92 commented on #5
With prettier v2.1 pug within template can now be formatted

[2020-08-28 07:47] #5 closed

[2020-08-28 07:47] #81 closed

[2020-09-13 20:59] SkyaTura opened #105 "New rule names of aliases for prettier defaults"
## Request / Idea
Use new names or aliases for rules that are specific for Pug instead of using default ones.

## Current Configuration

[code]

## Expected Configuration

[code]

## Additional Context

Using files override won't work in mixed files, like Vue's Single File Components since it doesn't recognizes Pug templates as a file.

[2020-09-13 21:02] Shinigami92 commented on #105
The reason/context is really helpful
I will look into this the next few days

[2020-09-14 20:38] Shinigami92 commented on #45
@Applelo Could you try [1.6.0-issue-105.1](https://www.npmjs.com/package/@prettier/plugin-pug/v/1.6.0-issue-105.1) and report if it fits your need?

So maybe you now need a config like

[code]

If this doesn't fix the problem I'm sorry to say I can't fix it, due to the technical implementation :(

[2020-09-14 23:04] SkyaTura commented on #22
I'd like to help with this feature, how could I start?

[2020-09-15 06:18] Shinigami92 commented on #22
Thanks :) and yes I could possibly need your (someone else help)
The feature itself is working in this PR, but I was never really satisfied how it works
I want to design an `option` so you don't need to write like hundreds of different tags
I lastly worked around a year ago on this... _yes thats september 16 2019_ :D
Since then I thought about to replace this with a regex pattern strategy, but reg

[2020-09-15 07:33] Christilut opened #107 "Bug: Pug in brackets turned into multi line"
## Info

Using VSCode with vetur in `.vue` files.

## Input

[code]

## Output or Error

[code]

This gives a webpack build error:

[code]

## Expected Output

Maybe everything between `#[ ]` should remain on the same line?

[2020-09-15 07:38] Shinigami92 commented on #107
I'm currently working on another feature request so hopefully I can work on this over the weekend

[2020-09-15 08:08] Christilut commented on #107
Awesome! :)

[2020-09-15 13:42] Applelo commented on #45
Sorry to not have test your previous answer. I was and I am currently busy at work. I test this when I have time :)

[2020-09-15 15:28] Shinigami92 commented on #22
Dafuq?
Setting `"pugSingleQuote": true` results in `Invalid --pug-single-quote value. Expected null, false or "", but received true.` :eyes:
I thing this is a bug in prettier  😲

And I also have a bug when using
[code]

This produces e.g. `div(:class="{ "pt-2": !dense }")` instead of `div(:class="{ 'pt-2': !dense }")`

[2020-09-15 16:11] Shinigami92 commented on #22
Referencing https://github.com/prettier/prettier/issues/9204

[2020-09-15 16:30] Shinigami92 commented on #45
Spolier: it won't work 😭
sorry :/

Need to investigate more, also maybe I need to create a breaking change 😬

[2020-09-15 17:42] SkyaTura commented on #22
What about this:

[code]

where you can specify which starting content should be placed where.

You have 3 positions:

**left - middle - right**

#### left and right
Are positioned by the order that you specified in the options.

#### middle
Sorted ASC

#### Example

_options_
[code]

_input_
[code]

_output_
[code]

### Testing
<details>

[code]
</details>

_I don't know if you already though abo

[2020-09-15 17:48] Shinigami92 commented on #22
What about `v-for`, `:key` and `v-if`?
I want to force an order of `v-col(v-for="x in y", :key="x.id", v-if="x.visible")`

[2020-09-15 18:15] SkyaTura commented on #22
You could set

[code]

it would output

[code]

[2020-09-15 18:28] Shinigami92 commented on #22
Mhhhh
Maybe it needs to be `pugAttributesSortLeft` and `pugAttributesSortRight` or I need to find out if "complex" objects are possible as option value :thinking:

Could you also please look into angular support? https://angular.io/guide/binding-syntax
So maybe we need to arrange attributes like `(click)`, `[(ngModel)]`, `[disabled]`, `*ngIf` and `*ngFor` (_and so on_)

[2020-09-15 18:31] SkyaTura commented on #22
However, if you had a prop named like `keyItems` it would be sorted incorrectly.

Thinking on this, maybe should be interesting the mixed usage of RegEx, as you proposed, and maybe a object configuration for easing.

[code]

[2020-09-16 08:59] Shinigami92 commented on #22
I've been thinking about a parameter for specifying the framework for a long time.
So far, however, I've always managed without it. :thinking:

[2020-09-16 13:40] SkyaTura commented on #22
## TODO on this issue
Ok, so, just for organize this topic.

#### Frameworks
- [ ] Gather use cases about Angular Syntax
- [ ] Gather Vanilla use cases
- [ ] Gather more use cases for Vue
- [ ] Decide whether or not to define a framework parameter

#### Feature
- [ ] Check Prettier compatibility with complex option formats
- [ ] Define the final parameter's structure

[2020-09-16 13:41] SkyaTura commented on #22
It would be ignored in case of a custom sorting is defined, so this parameter may be pointless.

[2020-09-16 15:35] SkyaTura commented on #22
@Shinigami92 can I split this issue in 3?

- We use this one to discuss about sorting in general, plain pug, parameterization, etc
- Create one to discuss about Vue attributes specificities
- Create one to discuss about Angular attributes specificities

The reason is facilitate on organize information about syntaxes and use cases and avoid distraction from the main subject of this issue, which, in

[2020-09-16 15:41] Shinigami92 commented on #22
Don't be sorry for spamming and yes feel free 😁

You should also have a look into what I already had implemented in #23
It already was working, just didn't liked the attribute structure

You (or I when I have more time e.g. over the upcoming weekend) should mainly investigate deeper into whats possible via prettier options

I'm currently working on typedefs of these options: https://github.com/Def

[2020-09-16 17:40] Shinigami92 commented on #107
Uhm... I defined a test and it just pass, without anything done :thinking:
Could you have a look? Maybe I test something wrong
Also could you check your version? Maybe it's outdated and just fixed in a later version?!

[2020-09-16 17:43] Shinigami92 commented on #107
Oh... maybe it's a vetur problem? :thinking:
You could subscribe to: https://github.com/vuejs/vetur/issues/2014
But I don't think that **this** is the problem :thinking:

[2020-09-17 08:39] Christilut commented on #107
I think that's a different problem because the formatter does work here.

This is what I'm using:
[code]

[2020-09-17 09:31] Shinigami92 commented on #107
So do I understand correctly that you have not installed `plugin-pug` locally in your `devDependencies` and therefore a fallback is performed for the Vetur's `plugin-pug`?

https://github.com/vuejs/vetur/blob/e68b119804717106b85447091b64ad2eb14dc039/server/package.json#L24

Maybe you need to add `vls` to you `devDependencies`?

_Don't forget to clean node\_modules and maybe reload vscode after cle

[2020-09-17 11:51] Christilut commented on #107
Yes I guess so. I don't really know what vscode plugins do internally.

The formatting works, but only the `#[ ]` tags are formatted wrong. So I'm not sure how the vue language server relates to that?

[2020-09-17 12:22] Shinigami92 commented on #107
I possibly thought it could be something like a version missmatch.

You should try to format via prettier cli and look if it's the same problem when using the cli
Cause my tests passes and don't format something like this
Please give me something reproducible without vetur in the way
Otherwise I think it's a vetur related issue and you should open an issue there

[2020-09-17 12:46] Christilut commented on #107
Okay, I'll do that. Thanks!

[2020-09-17 12:46] #107 closed

[2020-09-18 16:02] Shinigami92 commented on #22
@SkyaTura https://v3.vuejs.org/guide/migration/v-if-v-for.html#overview :eyes:
Things will be much different...

[2020-09-18 23:23] SkyaTura commented on #22
So, two things:

1. This package will increase it's downloads A LOT (at least, it should)
2. We will in fact need to differentiate which template we would like to use. A +1 to the "framework parameter"

[2020-09-18 23:34] SkyaTura opened #109 "RFC on Vue.js Features"
## Request / Idea
The idea of this thread was, initially, to discuss about specificities on sorting attributes within usage of Vue.js framework, as noticed in #22 .

However, there is a whole more we didn't previewed, and I think would be nice to bring subjects/problems that could turn into a feature, specially with Vue 3.x changes.

## Main topics

### Vue 2.x

- [ ] An _opinionated_ best attribu

[2020-09-18 23:41] SkyaTura commented on #22
About Angular, it would be nice if someone that really uses it took this task, because I really don't know much and I am no having enough time to learn it :/

[2020-09-19 03:59] yuheiy opened #110 "Bug: The indentations of objects in class attributes are broken"
## Info

| Tool     | Version       |
| -------- | ------------- |
| Plugin   | v1.5.1        |
| Prettier | v2.1.2        |
| Node     | v12.18.4        |
| OS       | mac |

## Input

[code]

## Output or Error

[code]

## Expected Output

[code]

[2020-09-19 09:12] Shinigami92 commented on #22
I'm thing about a `sorting template` kind of thing ("angular", "vue2", "vue3"), but I'm also not sure about that, cause vue2 will somedays be deprecated :man_shrugging:

[2020-09-20 10:38] #110 closed

[2020-09-20 10:39] Shinigami92 commented on #110
Will be in next release
Together with another feature

[2020-09-20 11:17] #105 closed

[2020-09-20 11:21] Shinigami92 commented on #77
If no one will create a PR for this I will close this issue on `December 31, 2021`
That's the LTS date of AngularJS

[2020-09-20 12:18] SkyaTura commented on #22
I agree.

Sometimes I forget this, because I use as if it was 🙈

[2020-09-20 13:18] yuheiy opened #112 "Bug: The indentations of objects with long lines in multiline class attributes are broken"
Thank you for resolving #110. But the formatting in my code is still broken.

## Info

| Tool     | Version       |
| -------- | ------------- |
| Plugin   | v1.6.0        |
| Prettier | v2.1.2        |
| Node     | v12.18.4        |
| OS       | mac |

## Input

[code]

## Output or Error

[code]

## Expected Output

[code]

[2020-09-20 13:33] Shinigami92 commented on #112
How is this even possible? .-.

Need to check this, but did you made a clean install after updating? (removing `node_modules`)

[2020-09-20 13:36] yuheiy commented on #112
Yes. I'm using 1.6.0.

[2020-09-20 13:49] Shinigami92 commented on #112
oof... I know why... will try to fix it sometime today

[2020-09-20 14:26] Shinigami92 commented on #112
solved in https://github.com/prettier/plugin-pug/commit/5a6082ca126c292673779bc02817390b526b9a97

[2020-09-20 14:26] #112 closed

[2020-09-22 15:48] Shinigami92 commented on #22
Taking your prev example and convert it to a regex array :thinking:

[code]

And cause of prettier limitations I thing it should be:
[code]

### ... but what should be done with all the attributes in the middle?

### Sort literally?
_This could break code in the worst case_

[code]

Maybe this is also in angular, but I don't know angular+pug

### Don't sort at all?
_Why are some parts sorted and s

[2020-09-22 20:49] SkyaTura commented on #22
Maybe the `pugSortAttributes` could define this behavior.

[code]

I see the example you gave is a design flaw, that shouldn't be there at all.

**HOWEVER**, if this is a valid use case for someone, it would be simply solved by moving bindings to the ~dark~ **Right** side...

[2020-09-24 06:51] yet-another-dev opened #113 "Bug: Not working in VS Code"
## Info

| Tool     | Version       |
| -------- | ------------- |
| Plugin   | v1.x.x (latest)       |
| Prettier | v2.1.2        |
| Prettier VS Code extension | v5.6.0 |
| Node     | v10.19.0        |
| OS       | mac |

## The issue

I can't seem to get this to work in VS Code (manually and on-save). When attempting to do so, VS Code shows "There is no formatter for 'jade' files installed." So

[2020-09-24 07:12] Shinigami92 commented on #113
I'm working daily with my own plugin and it works fine in VS Code 🤔
So the problem must be something on your side 😟

- Have you tried a repo with clean installation of `node_modules` + reload vscode
- Also `node_modules` is on relative root and not a subdirectory in the opened working dir
- And did you check some extensions and disabled some of them
- Is CLI working? `yarn prettier --write .`
- Di

[2020-09-24 07:37] yet-another-dev commented on #113
Thanks @Shinigami92. Glad to hear there's hope

When you have a Pug file open, do you see the Prettier indicator (button) in the bottom right status bar?

![image](https://user-images.githubusercontent.com/56443891/94114501-4dada400-fdfd-11ea-8a23-ef3386cd17c0.png)

To answer your questions (which are super useful in helping debug this on my end, thank you!):

No, not yet. Will do so if need be.

[2020-09-24 08:17] Shinigami92 commented on #113
![image](https://user-images.githubusercontent.com/7195563/94119405-2aabe000-fe4f-11ea-943d-e9aedda7995b.png)

[2020-09-24 08:20] yet-another-dev commented on #113
How about explicitly specifying a `defaultFormatter` for Pug/Jade, @Shinigami92?

i.e. Do you have anything like this in your JSON config?

[code]

[2020-09-24 08:23] Shinigami92 commented on #113
<details>
<summary>My Settings:</summary>

[code]

</details>

[2020-09-24 20:21] SkyaTura opened #114 "Bug: Incorrect indenting of same level lines"
## Info

| Tool     | Version       |
| -------- | ------------- |
| Plugin   | v1.6.1        |
| Prettier | v2.1.1        |
| Node     | v10.16.3        |
| OS       | mac |

## Input

[code]

## Output or Error

[code]

## Expected Output

[code]

## Additional Context

I think it is self explained by the examples why this is an error.

[2020-09-25 07:10] Shinigami92 commented on #114
Will look into it, but don't know if I will fix this if this is hard to fix, cause you can easily workaround that by manually check the indentation

[2020-09-25 10:12] vip30 opened #115 "Bug: when using vue filter with bracket will crash the formatter"
## Info

| Tool     | Version       |
| -------- | ------------- |
| Plugin   | v1.6.1        |
| Prettier | v2.1.2        |
| Node     | v14.8.0      |
| OS       | win |

## Input

[code]

## Output or Error

[code]

## Expected Output

[code]

## Additional Context

[2020-09-26 10:41] Shinigami92 commented on #113
@yet-another-dev Any news?
If you solved it, please write a response and then close this issue :slightly_smiling_face:

[2020-09-26 10:48] Shinigami92 commented on #115
@vip30 Is this `vue` or `angular`?

[2020-09-26 11:03] Shinigami92 commented on #115
Oh I found out it never crashed :smile:
It was just a `warning`!

I changed/improved it to
![image](https://user-images.githubusercontent.com/7195563/94339242-a4330200-fff8-11ea-9bb5-793dd6eb2420.png)

[2020-09-26 11:03] #115 closed

[2020-09-26 11:15] Shinigami92 commented on #114
I'm getting this token stream:

[code]

So as you can see, it is technically a problem of pug itself :slightly_frowning_face:
If you want you can try to fix that, but I don't think is will help much and just add much complexity to the processing...
So if you are satisfied with just handling this manually and remove these indents by yourself (e.g. using IDEs multicurser functionality), I vote for l

[2020-09-26 12:14] Shinigami92 commented on #22
@SkyaTura I started to work on the sorting feature!

So there are some changes to the concept:

- The naming will be `pugSortAttributesBeginning` and `pugSortAttributesEnd`
- I'll skip `pugSortAttributes: none, asc, desc` for a first release of the feature
- I'll not provide defaults at all, both (beginning and end) will be empty arrays, and if there are values, it will start to sort with them

[2020-09-26 12:39] yet-another-dev commented on #113
After reinstalling my VS Code and ensuring no plugins other than the VS Prettier plugin was running I got it to work 😄

I did notice that that seeing `jade` listed in the output for Prettier was required to get it to work:

![image](https://user-images.githubusercontent.com/56443891/94340914-6b743800-ffba-11ea-99ae-4243a61b8040.png)

Now to reenable extensions one-by-one to see which one was the c

[2020-09-26 12:39] #113 closed

[2020-09-26 13:14] yet-another-dev commented on #113
Alright, after some more testing it seems that this is connected to [pnpm](https://github.com/pnpm/pnpm). I'm using pnpm specifically for its monorepo features (which are pretty sweet!), so it's rather unfortunate that there's a conflict. If running `npm i` and reloading VS Code then prettier is identified as the formatter for pug files. If running `pnpm i` they are not.

I found [a perhaps-relate

[2020-09-26 14:35] Shinigami92 commented on #22
@SkyaTura I released a beta: https://www.npmjs.com/package/@prettier/plugin-pug/v/1.7.0-sorting-feature.1

I'm currently testing against a huge organizational repo (~80 pug files each around 300 lines long)

My setup so far:

[code]

[2020-09-26 14:40] Shinigami92 commented on #22
@SkyaTura One problem I encountered so far is:
I tried to order my attributes in a somewhat alphabetical order ignoring colons

e.g.

[code]

So to _fix_ this, I currently have to define 26 patterns to order alphabetically ^^'
from `^:*a` ... to `^:*z`

But I think more and more about to just change my own art of sort :D

[2020-09-26 14:49] SkyaTura commented on #114
How about adding wontfix and a note on documentation? To warn people when they choose to implement this on already existing codebases.

[2020-09-26 14:50] Shinigami92 commented on #114
That I can definitely do!

[2020-09-26 15:13] Shinigami92 commented on #22
Wow, interesting case...

[code]

1. In v-text-field I want a `(:)label`, everything working here cause there is no color
2. In v-checkbox I want a `(:)label` before `color`. Because it's holding a string value
3. In v-chip the `label` is irrelevant and a boolean value and I want `color` before `label`. But that's not possible/compatible with `2`

:thinking:

So this is something impossible to con

[2020-09-26 15:27] Shinigami92 commented on #22
Closer to perfection...

[code]

[2020-09-26 15:35] Shinigami92 commented on #114
https://github.com/prettier/plugin-pug/commit/72f2bee793c67fc063568771427f43342d1aa22d

[2020-09-26 15:35] #114 closed

[2020-09-26 15:50] Shinigami92 commented on #22
Would be nice when you also share your sort config after testing the beta release :slightly_smiling_face:

[2020-09-27 21:38] lehni commented on #102
We've been using attributes with `:` as the `v-bind` short-hand in Vue single component files without any attribute separators in a large project for over two years, and not once was there a problem with that syntax. I'd be great to have the `none` option!

[2020-09-29 06:52] Shinigami92 commented on #113
Maybe related to https://github.com/prettier/prettier/pull/9167

[2020-09-29 10:25] #102 closed

[2020-09-29 10:44] #22 closed

[2020-09-29 12:50] lehni commented on #102
Thank yuo @Shinigami92 for the help with my PRs and the swift merge and release!

[2020-09-29 13:36] lehni opened #118 "Option to control threshold of amount of attributes to be put on separate lines"
## Request / Idea

It would be nice if there was an option with which I could set a threshold of the amount of attributes that should always be put on separate lines, regardless of wether they fit into `printWidth` chars or not, .e.g.

[code]

## Input

[code]

## Expected Output

[code]

Would you consider the addition of such an option? I am happy to work on it. Not sure what it should be called

[2020-09-29 13:40] Shinigami92 commented on #118
I would also want this to be kept to a minimum
So if there are only `2` attributes => don't break even if they are 240 columns long

But if they are `5?` or more always break, even if they are below my configured `120` printWitdh

[2020-09-29 13:48] lehni commented on #118
Great to hear, and good points! I'll play around with this a bit and see where I end up. So happy to hear about your opinion regarding the core philosophy. I do share that view ;)

[2020-09-29 13:50] lehni commented on #118
Perhaps as simple as this: `maxAttributesOnSingleLine: 1`

[2020-09-29 13:54] Shinigami92 commented on #118
I more and more thing about that it was a bad idea to introduce options like `attributeSeparator`, `closingBracketPosition` and `commentPreserveSpaces` (I think I will deprecate these 3 and instead use their `pug*` equivalents)

So we directly should use `pugMaxAttributesOnSingleLine`

[2020-09-29 13:57] lehni commented on #118
Agreed! I only use those anyway. BTW, I noticed there is no mention of `pugAttributeSeparator`, `pugClosingBracketPosition`,  `pugCommentPreserveSpaces` in the README. It only states:

But those _six_ aren't actually any of the three I mentioned above.

[2020-09-29 14:00] Shinigami92 commented on #118
Yeah I know, I meant the alias equivalents and not the own options
But now you have also introduced `pugArrowParens` etc
So yes if you like you can update the `README.md` in a dedicated PR and check it entirely of out of date things :slightly_smiling_face:

[2020-09-29 21:27] SkyaTura commented on #22
I think I may found a bug 😱

Every time I try to format this file it get a different output:

[code]

My config to reproduce:
[code]

[2020-09-30 13:46] #118 closed

[2020-09-30 15:23] aaronguernsey opened #124 "Bug: Formatter not working in conjunction with Vetur"
## Input

[code]
## Expected Output

[code]

## Actual Output

[code]

## Additional Context
I'm using VS Code with the Vetur extension. My project has a `.prettierrc` file with the options

[code]

If I remove any `plugin-pug` config settings, prettier works, but then it collapses all pug attributes to a single line. Am I doing something wrong when setting this up?

There are no additional VS Cod

[2020-09-30 15:27] Shinigami92 commented on #124
🤣 You are toooo fast ^^ 1.8.0 isn't even released yet 😄

`pugWrapAttributesThreshold` will be in the next release 1.8.0

[2020-09-30 15:31] aaronguernsey commented on #124
Haha, that's my bad! And you're equally too fast with the quick response 😆

What about the `pugAttributeSeparator`?

And until 1.8.0 is there a way to prevent collapsing to a single line?

[2020-09-30 15:34] Shinigami92 commented on #124
Yes, `pugAttributeSeparator` should work, if it's not just use `attributeSeparator` 🤔 and I need to look into it

No currently no other way for collapsing

https://github.com/prettier/plugin-pug/compare/1.7.0...master

[2020-09-30 15:40] aaronguernsey commented on #124
Okay, thanks for the help! It seems like adding any additional settings outside of the first three prevents formatting.

I suppose this may not be a plugin issue, so I'll just move on without formatting for now, and you can close this issue.

[code]

[2020-09-30 15:42] #124 closed

[2020-09-30 15:42] Shinigami92 commented on #124
The option "attributeSeparator": "none" is really new (1.7.0)
I think vetur needs to update: https://github.com/vuejs/vetur/blob/master/server/package.json#L24

[2020-09-30 16:50] lehni commented on #124
I think if your project has a newer `@prettier/plugin-pug` in its dependency, then Vetur / Prettier will pick that one up instead?

[2020-09-30 18:15] aaronguernsey commented on #124
@lehni That's what I thought, but once I added any additional settings to my `.prettierrc` it stopped formatting.

This works:
[code]

This does not:
[code]

[2020-09-30 18:27] Shinigami92 commented on #124
You could try "resolution" https://classic.yarnpkg.com/en/docs/selective-version-resolutions/#toc-how-to-use-it

[2020-09-30 19:38] aaronguernsey commented on #124
Okay, I think I figured it out.
@Shinigami92 I think it is related to your comment:

I had to downgrade Vetur's version to `0.27.3`, and then any `@prettier/plugin-pug` settings work. I will open a request on the Vetur repo and see about getting them to update to the current version.

[2020-10-02 15:04] lehni opened #126 "Add pugWrapAttributesPattern option"
## Request / Idea

It would be nice to be able to enforce wrapping for attributes even when they would otherwise not wrap based on `printWidth` or  `pugWrapAttributesThreshold`, for situations where wrapping would increase readability of the code.

The best example is `v-for`, `v-if` and `v-else` attributes in Vue. I find code that uses these much more readable and easier to parse and process by e

[2020-10-02 17:28] SkyaTura opened #128 "Boolean attributes quotes pattern"
## Request / Idea
Give the possibility to choose between use empty quotes or remove them when working with boolean attributes.

## Input

[code]

## Possible Outputs

### `'none'`
[code]

### `'all'`
[code]

### `'as-is'` **default**
[code]

### `'all'` with _exceptions_:
[code]

[code]

### ~_as-needed_ ? on Vue or Angular this also may be necessary~
([why not](https://github.com/prettier/plugin-

[2020-10-03 08:57] #126 closed

[2020-10-03 13:01] dlindenkreuz opened #129 "Bug: Does not work when source contains for...of statement (Vue)"
When the pug source code contains a for...of statement, the formatter bails and doesn't do anything in the pug segment.

Replace `v-for="x of quux"` with `v-for="x in quux"` in the input and everything works as intended.

## Info

| Tool     | Version       |
| -------- | ------------- |
| Plugin   | v1.7.0        |
| Prettier | v2.1.0        |
| Node     | v12.18.3        |
| OS       | mac |

##

[2020-10-04 00:10] lehni opened #130 "Bug: various issues when handling literal attributes (id, class)"
## Input

[code]

## Output

[code]

## Expected Output

[code]

I already have a PR coming up that fixes these.

[2020-10-04 07:56] Shinigami92 commented on #129
I'm sorry that currently other features are in pipeline for 1.8 release, so this needs to wait a bit for 1.9 or so

Some things beside:

Did you mean `v-for="x in quux"` instead of `v-for="x of quux"` in `expected`-section?

Also I need to investigate if this is maybe a bug of prettier itself or maybe just a feature request and not a bug ^^

[2020-10-04 09:40] dlindenkreuz commented on #129
No worries, take your time.

The expected output contains `v-for="x in quux"` just like the input. Prettier should not change that.

When the input contains for...in instead of for...of, the output should contain the for...in statement as well.

[2020-10-04 12:29] #130 closed

[2020-10-04 12:55] Shinigami92 commented on #129
@dlindenkreuz Ok thanks for reporting
It's a bug, and it's on plugin's side

[2020-10-04 12:55] lehni opened #133 "Bug: conversion of literals can replace the wrong content"
After having worked a bit with this part of the code, it just occurred to me that there could be this theoretical scenario where the use of `replace()` will replace the wrong part of the content, because it's run on the full result, not just the current element:

## Input

[code]

## Expected Output

[code]

## Actual Output

[code]

I have ideas for how to fix this, will work on that next.

[2020-10-04 12:57] Shinigami92 commented on #133
Just in case, if you create a new PR, could you now use directly the repo instead of the fork? Then I can also help work and it's easier for me to checkout and review and also resolve merge conflicts :smile:

[2020-10-04 12:58] lehni commented on #133
Yes I was thinking already that I should have done that yesterday. Will do so with this one!

[2020-10-04 13:00] Shinigami92 commented on #133
Are these two things?

`code div#id` instead of `code #id`
and
`div#id` instead of `#id` <-- This one was known to me since initial project setup XD but I was too lazy cause a second format resolved it :D

[2020-10-04 13:17] Shinigami92 commented on #129
Uff..nevermind, confused me by my own written try-catch :thinking:
Maybe it is a prettier bug...
Need to dig into it

[2020-10-04 13:21] lehni commented on #133
The point is that when you have `div#id` anywhere in your content, it'll get replaced as well. Maybe this makes it clearer:

[code]

The use of `code` tags doesn't have anything to do with the problem

[2020-10-04 21:16] lehni opened #135 "Bug: Plain Text is not always handled correctly"
## Input

In the following example, after formatting the plain-text on the last line is no longer correctly nested and does not appear with the `|` sign in front of it.

[code]

## Expected Output

[code]

## Actual Output

[code]

[2020-10-04 21:17] lehni commented on #135
Interestingly enough, when I write it like this, it works correctly:

[code]

[2020-10-05 07:15] Shinigami92 commented on #135
Can you assign your self and label these issues and PRs? Or should I manage this? :slightly_smiling_face:

[2020-10-05 08:36] #135 closed

[2020-10-05 10:32] #133 closed

[2020-10-05 10:34] Shinigami92 commented on #58
@lehni Do you also want to work on some of these `help wanted` issues?

[2020-10-05 10:34] Shinigami92 commented on #36
@lehni Do you also want to work on some of these `help wanted` issues?

[2020-10-05 10:34] Shinigami92 commented on #26
@lehni Do you also want to work on some of these `help wanted` issues?

[2020-10-05 10:38] lehni commented on #26
@Shinigami92 it may be tricky for me to do so right now, as I've got a lot of stuff to tackle at work, and this isn't something we need since we don't mix the two

[2020-10-05 10:40] lehni commented on #36
@Shinigami92 at the moment only things that I need for my own use-case of the plugin. Once these things are taken care of, if I find the time and have an idea for how to do it, why not!

[2020-10-05 10:52] lehni opened #137 "Bug: Wrong parentheses placement in Vue v-for directive"
When using v-for, the plugin adds parentheses around the full expression instead of just the loop variables, breaking the loop:

## Input

[code]

## Expected Output

[code]

## Actual Output

The plugin adds parentheses around the full expression, breaking the loop:

[code]

## Error

[code]

[2020-10-05 10:54] Shinigami92 commented on #137
Is this related with #129?

[2020-10-05 11:18] lehni commented on #137
I don't know enough about Vue handling in the plugin to be able to tell right now…

[2020-10-05 11:24] Shinigami92 commented on #137
https://github.com/prettier/plugin-pug/blob/a220e916f79f067cf3cba605f237906e18ae9182/src/printer.ts#L289

https://github.com/prettier/plugin-pug/blob/a220e916f79f067cf3cba605f237906e18ae9182/src/printer.ts#L384-L397

https://github.com/prettier/plugin-pug/blob/a220e916f79f067cf3cba605f237906e18ae9182/src/printer.ts#L653-L656

[2020-10-05 11:28] lehni commented on #137
Hmmm I need to look into this more. But `v-for` expressions aren't actually JS, so I don't think prettier should just handle them.

[2020-10-05 11:31] Shinigami92 commented on #137
You should read my discussion with Fisker: https://github.com/prettier/plugin-pug/pull/132#issuecomment-703273340
Prettier actually already format `v-for` in html
I'm calling these internal parsers

[2020-10-05 11:49] lehni commented on #137
Ah ok!

[2020-10-05 11:50] lehni commented on #137
Maybe we need to wait for this to land: https://github.com/prettier/prettier/pull/9225

[2020-10-05 11:54] Shinigami92 commented on #137
Oh didn't noticed that this isn't released yet :+1:

[2020-10-05 12:00] lehni opened #138 "Bug: More issues with plain-text and nesting"
I thought I tackled this in #135, but there is more to it. When there is more nesting, then things end up on the wrong level:

## Input

[code]

## Expected Output

[code]

## Actual Output

[code]

The last line is on the wrong level, it should be indented one level further

[2020-10-05 12:04] Shinigami92 commented on #138
Looks like a need of `computedIndent` in line https://github.com/prettier/plugin-pug/blob/a220e916f79f067cf3cba605f237906e18ae9182/src/printer.ts#L899 to me

Hopefully this can guide you

[2020-10-05 12:12] lehni commented on #138
Yes I just found that out also! :D

[2020-10-05 12:42] #138 closed

[2020-10-05 12:43] Shinigami92 commented on #138
@lehni Are you directly affected by this bug?
Or can we wait on some other PRs before releasing the next version?

[2020-10-05 12:45] lehni commented on #138
@Shinigami92 I am, but it's easy enough to work around. I can wait for more PRs!

[code]

[2020-10-06 05:23] SkyaTura commented on #128
## Options proposition

[code]

In order to maintain the "agnosticism" of the library, maybe it's better to provide a list of regex strings with exceptions to the rule instead of defining framework-specific settings, as previously discussed in #22

[2020-10-06 05:34] SkyaTura commented on #128
@Shinigami92 do you think it's too much options to create specific rules?

### Example
[code]

### Input
[code]

[code]

### Output
[code]

[2020-10-06 06:40] Shinigami92 commented on #128
First of all, yes
However, I haven't considered this problem long enough

First off, I'd suggest aiming for consistency, not just style

Therefore, perhaps in the first iteration of this feature no special exceptions should be made, which are then not used either way

Or do you have a special case in a real project?

---

Also take into account that incorrect use can lead to problems with e.g. tes

[2020-10-06 13:38] jessielaf opened #140 "Start with tab in vue component"
## Request / Idea
First of all thanks for this library!

I usually start my pug with two spaces or 1 tab in my Vue template. I have recently installed prettier 2 and prettier pug and I have not found this option yet. I searched through the options but I could not find one to satisfy this need. Maybe I looked over it.

## Input

[code]

## Expected Output

[code]

[2020-10-06 14:39] Shinigami92 commented on #140
So you requesting something like [vue-files-script-and-style-tags-indentation](https://prettier.io/docs/en/options.html#vue-files-script-and-style-tags-indentation), but `vue-files-template-tag-indentation`?

I'm thinking about if we should ask prettier itself to do this instead of my plugin :thinking:
@fisker Any objection?

[2020-10-06 16:09] fisker commented on #140
I don't think Prettier going to accept it, especially the `template` in html is already indented.

[2020-10-06 16:43] Shinigami92 commented on #140
Ok, then we need to implement this option into the plugin

[2020-10-07 06:08] Shinigami92 commented on #140
I don't think it's good idea to name it `vue-files-template-tag-indentation` when it's provided from our plugin
So maybe we should name it `pug-vue-files-template-tag-indentation`
But are there any other frameworks that behave the same as vue?

E.g. embedded in markdown, I do **not** think it's a useful option, cause there is no use case where it's useful

[2020-10-07 07:31] jessielaf commented on #140
From my understanding Vue is the only js framework that has single-file components and uses HTML or pug in this way. The other SFC frameworks I know of are react and svelte. Both have different syntaxes.

[2020-10-07 10:05] lehni commented on #140
Svelte has single-file components, and from my understanding you can use pug for templates there too:

[2020-10-07 10:07] Shinigami92 commented on #140
https://github.com/sveltejs/svelte-preprocess#built-in-support-for-commonly-used-languages

[2020-10-07 10:08] Shinigami92 commented on #140
Ok so `pug-vue-files-template-tag-indentation` is not a good name!

Maybe `pug-template-file-tag-indentation`?

[2020-10-07 11:34] lehni commented on #140
`pugEmbededTemplateIndentation`

[2020-10-07 11:35] Shinigami92 commented on #140
I don't like it, cause markdown is also embedded and will not be indented

[2020-10-07 13:18] Shinigami92 commented on #140
I think we should go with `pugTemplateTagIndentation`, so without related to `file` cause that's just confusing in this context

... but ... now I see that could colide with e.g. vue's `template` tag synatx :thinking:  damn it

Maybe `pugSfcIndentation`?

[2020-10-07 13:44] Shinigami92 commented on #140
I started (quite finished ^^) this feature request
But we need to find a stable name for this options, so it doesn't collide with other feature request in the future

---

Also I think the current tests are not well enough to handle some special cases

---

@fisker Is there a way I can find out that the code is currently embedded in a `vue` or `svelte` file or if it is just e.g. markdown?
So can I

[2020-10-07 17:28] fisker commented on #140
[`options.parentParser`](https://github.com/prettier/prettier/blob/86ad2997685a9ac86617502531e9d203976d23ea/src/main/multiparser.js#L39)

[2020-10-07 18:12] Shinigami92 commented on #140
Wow thank you @fisker
Apparently I found out that there is a _mystery_ `embeddedInHtml`
I think that is even better, cause it may cover also `svelte` instead of only `vue`

I also need to add these both to DefinitelyTyped
I will add it into my https://github.com/DefinitelyTyped/DefinitelyTyped/pull/47626 so I don't need to add a second PR

[2020-10-07 18:27] Shinigami92 commented on #140
Ok last step is missing: give it a stable name

1. `pugSfcIndentation`?
2. `pugSingleFileComponentIndentation`?
3. `pugTemplateTagIndentation`?
4. `pugTemplateTagFileIndentation`?
5. _something different_?

[2020-10-08 13:29] SkyaTura commented on #128
I've managed to achieve a stable implementation _(tested on my projects)_ with only two options.

However, if the input is `Foo(#boom)`, it won't do anything and this would lead to problems as you pointed, which could be prevented by using 2 options for exceptions

[2020-10-09 15:03] lehni commented on #140
But markdown does not have anything to do with `<template>`?

[2020-10-09 15:09] lehni commented on #140
This sounds quite obscure I think.

This is better, but it's not really the indentation of the component, it's the indentation of the pug template inside the component…

Probably the best one of the options!

I don't think `File` needs to be mentioned? They're all in files, after all :)

[2020-10-09 15:22] Shinigami92 commented on #140
@lehni Thanks, that was helpful

For `pugTemplateTagIndentation`

[code]

That is what I meant with a template tag

[2020-10-09 18:15] fisker commented on #140
How about  `pugIndentationInVueSFCRootTemplate` or `pugIndentationForVueSFCRootTemplate`

[2020-10-09 18:36] Shinigami92 commented on #140
It's not `vue` related, it should also work for `svelte`

[2020-10-11 16:22] lehni commented on #140
`eslint-plugin-vue` has a rule for this. It's simply called `html-indent`: https://eslint.vuejs.org/rules/html-indent.html#rule-details

[2020-10-17 13:03] Shinigami92 commented on #140
Finally some new types from DefinitelyTyped arrived

I made my decision to `pugSingleFileComponentIndentation`, because I think it is the best fit and doesn't conflict with to many other things like `template`, `vue`-related or `embedded-markdown`

@lehni Could you have a last review over my PR, then I will merge it and provide a new release

[2020-10-18 21:12] lehni commented on #140
@Shinigami92 very swamped with work these days, I don't think I'll find the time for another 10 days or so :/

Regarding naming: I would `pugSingleFileComponentIndentation` not to be a boolean value, but to describe the amount of indentation?

[2020-10-19 07:07] Shinigami92 commented on #140
I think it's ok, I will merge it now

[2020-10-19 07:08] #140 closed

[2020-10-20 08:11] jessielaf opened #143 "Bug: Missing expected ) in out of project file"
## Info

| Tool     | Version       |
| -------- | ------------- |
| Plugin   | v1.8.1       |
| Prettier | v2.1.2        |
| Node     | v12.13.1        |
| OS       | win |

## Output or Error

[code]

## Expected Output

[code]

## Additional Context
I keep getting an error without a file specified in which the error occurs (or within my project). I get this error with two different projects.

[2020-10-20 09:10] Shinigami92 commented on #143
There is currently too little information

I think you're using Angular because the problem seems to be from `prettier\parser-angular`
Is your project building at all (with Angular)?
Can you find the source file of the problem on your own?

If you NOT using Angular AND your code gets formatted, then I maybe need to just declare this as a warning :thinking:
I already have some of these for e.g. `"U

[2020-10-20 09:12] jessielaf commented on #143
Sorry I forgot to clarify which framework I am using. Both of the projects I am working on are using Vue 2 and one is also using Nuxt. So I do not even use Angular which makes it so strange. This is my prettierrc:

[code]

[2020-10-20 16:47] Shinigami92 commented on #143
Ok so I have two questions

1. Does it format? So is it just a warning?
2. If you run prettier via CLI, can you detect the file and so maybe find the specific code?

[2020-10-21 13:42] jessielaf commented on #143
1. Yes it does format and it is just a warning.
2. I get the same error when running the cli

[2020-10-21 13:45] Shinigami92 commented on #143
With CLI you may find out what file it was
Can you copy&paste this file as a response? Maybe just the part which produces the warning.

If it's closed source you may send it to me via mail, you can find my mail in package.json ^^

[2020-10-21 14:24] jessielaf commented on #143
Okay I got there by running lint with --debug flag. It is complaining about this file:

[code]

I couldn't find anything wrong with it very fast

[2020-10-21 14:30] Shinigami92 commented on #143
Thank you 👍

I will work on this when I'm back home

I think it's coming from one of these

[code]

---

In the meantime you could try a (maybe) workaround ^^

[code]

[2020-10-21 16:44] Shinigami92 commented on #143
fixed via https://github.com/prettier/plugin-pug/commit/c0319bf5220ac2aa5ecbc82a473552f76c07009d

I hope it's ok for you to wait until we have some more/other features :slightly_smiling_face:
And thanks for using my plugin

[2020-10-22 09:46] jessielaf commented on #143
Of course that is okay! It is not blocking anything. Just a lot of warnings when building. I'll be looking out for the next release. Thanks for you help and quick response!

[2020-10-22 09:46] #143 closed

[2020-10-23 12:01] #128 closed

[2020-10-25 12:03] lehni commented on #140
Probably too late now, but I just found out that Vetur has this setting here:

`vetur.format.styleInitialIndent`. It used to also have `vetur.format.templateInitialIndent`, but that got removed again, not sure why…

[2020-10-25 12:10] Shinigami92 commented on #140
Yeah, I already created a release
I prefer incremental releases with a minimum of breaking changes

[2020-10-27 03:20] tucke opened #144 "Bug: What's wrong? This code can't be formatted"
## Info

| Tool     | Version       |
| -------- | ------------- |
| Plugin   | v1.10.0        |
| Prettier | v2.1.2        |
| Node     | v14.14.0        |
| OS       | mac |

## Input

[code]

## Output or Error

## Expected Output

[code]

## Additional Context
There seems to be no work！why？

[2020-10-27 05:42] Shinigami92 commented on #144
Duplicate of #129
Try to workaround it with `in` instead of `of`

[2020-10-27 05:42] #144 closed

[2020-10-27 05:48] tucke commented on #144
@Shinigami92  thank you

[2020-10-27 08:41] jessielaf opened #145 "Bug: Multiple root nodes should be allowed"
## Info

| Tool     | Version       |
| -------- | ------------- |
| Plugin   | v1.10.0       |
| Prettier | v2.1.2        |
| Node     | v12.13.1        |
| OS       | win |

## Input

[code]

## Output or Error

[code]

## Expected Output

[code]

## Additional Context
I think this change #140 broke with an if else as root element. Also in Vue 3 you can have multiple root elements with [fragment

[2020-10-27 08:50] Shinigami92 commented on #145
Will dig deeper into the problem a little later
Thanks for the bug report

[2020-10-27 13:24] Shinigami92 commented on #145
This is a very heavily test driven repo :slightly_smiling_face:

A first test was immediately successful
Then I assumed that you using the new `pugSingleFileComponentIndentation` config option and wrote a test for this also
I observed that it behaves strange if you don't intend it one level by yourself
But doing so, everything seems to be correct
So maybe it is currently more like a **preserve** o

[2020-10-28 00:07] lephuongbg commented on #145
A related issue to this is that we use pug's `extends` feature. At the moment, this code

[code]

is formatted to

[code]

[2020-10-28 02:22] lephuongbg opened #147 "Bug: Plugin throws error when parsing object shorthand notation"
## Info

| Tool     | Version       |
| -------- | ------------- |
| Plugin   | v1.10.0        |
| Prettier | v2.1.2        |
| Node     | v14.8.0        |
| OS       | linux |

## Input

[code]

## Output or Error

[code]

## Expected Output

[code]

## Additional Context
The output seems to be fine (as may be it was kept as-is without any changes, not really sure)

[2020-10-28 12:34] billyschonenberg opened #148 "Bug: setting pugSingleFileComponentIndentation to true gets a conlicting rule on pug bracket interpolation"
## Info

| Tool     | Version       |
| -------- | ------------- |
| Plugin   | v1.10.0       |
| Prettier | v2.1.2        |
| Node     | v12.18.2    |
| OS       |  mac |

## Input
prettierrc.js
[code]

file
[code]

## Output or Error
alternating between:
[code]

and

[code]

## Expected Output
same as input.

[2020-10-28 15:31] Shinigami92 commented on #145
I'm sorry to inform you that I will probably not have time until the weekend to keep working on it

[2020-10-28 15:31] Shinigami92 commented on #147
I'm sorry to inform you that I will probably not have time until the weekend to keep working on it

[2020-10-28 15:31] Shinigami92 commented on #148
I'm sorry to inform you that I will probably not have time until the weekend to keep working on it

[2020-10-28 15:33] billyschonenberg commented on #148
No problem, I just use the plugin as is with **pugSingleFileComponentIndentation** set to false.
Thanks for your work!

[2020-10-29 03:07] detroitenglish opened #149 "Bug: Attribute Wrapping breaks Interpolated Tags"
## Info

| Tool     | Version       |
| -------- | ------------- |
| Plugin   | v1.x.x        |
| Prettier | v2.x.x        |
| Node     | v12.x.x        |
| OS       | linux |

## Input

[code]
`.prettierrc`
[code]

## Output or Error
[code]
[code]

## Expected Output

[code]

## Additional Context

[2020-10-29 07:48] Shinigami92 commented on #149
I'm sorry to inform you that I will probably not have time until the weekend to keep working on it

[2020-10-29 08:13] ryeballar opened #150 "Bug: [coc.nvim] pug not supported by prettier"
## Info

| Tool     | Version       |
| -------- | ------------- |
| Plugin   | v1.10.0        |
| Prettier | v2.1.2        |
| Node     | v12.19.0        |
| OS       | linux |

## The Issue

[coc-prettier](https://github.com/neoclide/coc-prettier) is a fork of [prettier-vscode](https://github.com/prettier/prettier-vscode) where its implementation heavily relies on the the file type defined in **

[2020-10-30 20:30] detroitenglish commented on #149
@Shinigami92 No stress! Thank you for all your hard work on this project 🙇‍♂️

[2020-10-31 13:34] #145 closed

[2020-10-31 13:41] Shinigami92 commented on #145
Thanks to @ST-DDT as a co-author in a remote session, it only took around 2 hours to fix this :1st_place_medal: 😜
This will potentially be released in the next few days together with some other bug fixes.

[2020-10-31 13:53] #150 closed

[2020-10-31 14:17] #148 closed

[2020-10-31 23:11] SkyaTura commented on #36
I pretend to do it this weekend 🤗

[2020-11-01 12:01] Shinigami92 commented on #149
I've now fixed the bug because it corrupts the working pug code
But in the long run I think we should create an issue in the pug repo to support this wrapping within the pug code interpolation
In my opinion, pug should handle these types of wrapped attributes

[2020-11-01 12:11] #149 closed

[2020-11-01 12:39] #147 closed

[2020-11-01 12:49] Shinigami92 commented on #145
This has now been fixed in release `1.10.1`
Thank you for using my plugin and for being part of the pug community 🤗

[2020-11-01 12:49] Shinigami92 commented on #148
This has now been fixed in release `1.10.1`
Thank you for using my plugin and for being part of the pug community 🤗

[2020-11-01 12:50] Shinigami92 commented on #149
This has now been fixed in release `1.10.1`
Thank you for using my plugin and for being part of the pug community 🤗

[2020-11-01 12:51] Shinigami92 commented on #150
This has now been released `1.10.1`
Thank you for using my plugin and for being part of the pug community 🤗

[2020-11-01 12:51] Shinigami92 commented on #147
I have shortened the warning like some others
This has now been released `1.10.1`
Thank you for using my plugin and for being part of the pug community 🤗

[2020-11-01 13:11] detroitenglish commented on #149
@Shinigami92 Thanks!

[2020-11-02 19:34] SkyaTura commented on #36
@Shinigami92 my original intent was to provide 3 options:
- as-is: disables class and id formatting
- use literals: forces all valid classes and ids to be printed as literals
- use attributes: forces all classes and ids to be printed as attributes

_HOWEVER_, as far as I understood, the plugin would need a huge refactor (or an ugly workaround) to allow a new attribute to be set, specially in cases

[2020-11-02 19:47] Shinigami92 commented on #36
@SkyaTura Yes I also saw this potential of options :smiley:
The thing is, if we now release it with just enabling/disabling (boolean flag) possibility, we cannot change it later on without a breaking release

So maybe we should keep this potential feature in mind (outsource it to a new issue) and implement your current PR with a `choice` option

[2020-11-03 08:23] SkyaTura commented on #36
As soon as I have some time I'll do it ;)

[2020-11-03 10:52] Shinigami92 commented on #36
Take your time, it's just a new feature and I don't even know if many want and will use this feature ^^'
Would be cool if I could somehow get statistics from it ^^

[2020-11-10 18:55] silveoj opened #156 "Bug: Multiline inline script throws TypeError: Cannot read property '0' of undefined"
## Info

| Tool      | Version                 |
| --------- | ----------------------- |
| Framework | none |
| Node      | v10.14 - 14.13                  |
| OS        | win10           |

[code]

## Eslint config
[code]
There is no error if I remove `extends` and `rules`.`prettier/prettier`

## Prettier config

[code]
If I use `{}` config I don't see error.

I use this command with this `eslint

[2020-11-10 19:00] Shinigami92 commented on #156
I'll try to do it by the weekend at the latest, if nothing gets in my way

[2020-11-14 11:05] Shinigami92 commented on #156
I have written a [test](https://github.com/prettier/plugin-pug/pull/157/files) and everything seems to [work](https://github.com/prettier/plugin-pug/pull/157/checks?check_run_id=1399657517#step:9:37) just fine without errors.
Maybe this is not a problem caused by this plugin, but [eslint-plugin-pug](https://github.com/myfreeweb/eslint-plugin-pug#readme)? :thinking:
You should open an issue there a

[2020-11-17 02:30] bminer opened #158 "Bug: Inline JavaScript in text block is not pretty"
It seems that Pug `script.` blocks aren't parsed / printed properly.  It should make the JavaScript code prettier.

## Info

| Tool      | Version                 |
| --------- | ----------------------- |
| Plugin    | v1.10.1                  |
| Prettier  | v2.1.2                  |
| Framework | none |
| Node      | v14.15.0                  |
| OS        | linux           |

## Prettier config

[2020-11-17 02:49] bminer commented on #158
HTML parser in Prettier does something a bit more complex: https://github.com/prettier/prettier/blob/master/src/language-html/printer-html.js#L109

[2020-11-17 07:44] Shinigami92 commented on #158
I think I know how I can solve this
Hopefully I can work on it in the evening, but I'm not sure

[2020-11-17 16:01] Shinigami92 commented on #158
Ok, I looked in the token stream and see that I need to iterate over, bundle and format with JS everything between the `start-pipeless-text` and `end-pipeless-text` if it is based on a `script`-tag.
But I don't have my head for it right now and it could take a while.
Sorry to you that I am not making this such a high priority because it doesn't break anyone's code or is a stopper, just an improvem

[2020-11-18 03:51] bminer commented on #158
@Shinigami92 - Sure, I'd love to help where I can.  Sadly, I don't think I understand Prettier enough to know where to go from here.  How do you switch the parser from "pug" to "babel" or something else?  I'm sure I could study Prettier's built-in HTML parser a bit more... but it looks tricky... and very different from the pug parser here.

What do you think?

[2020-11-18 08:03] Shinigami92 commented on #158
Oh, IMO, it's a lot easier than you think :)

First, you should start reading the [CONTRIBUTING.md](https://github.com/prettier/plugin-pug/blob/master/CONTRIBUTING.md)

Then you should create a folder `tests/issues/issue-158` and copy over 3 files from e.g. `issue-147` (that's at least the easiest currently)
Modify the `un-/formatted.pug` files and the test description (`test('should xy')`)

Now y

[2020-11-20 11:59] #129 closed

[2020-11-20 12:07] Shinigami92 commented on #156
Any news about this?
Please do not hesitate to close this issue yourself so that I don't have to be rude and forcibly close it on my side :slightly_smiling_face:

[2020-11-20 12:08] Shinigami92 commented on #156
@silveoj Any news about this?
Please do not hesitate to close this issue yourself so that I don't have to be rude and forcibly close it on my side :slightly_smiling_face:

[2020-11-20 12:27] Shinigami92 commented on #137
@lehni Oh re-reading your initial issue description... and seeing that something like `entry, index in list` isn't valid syntax for the parser
So the parser cannot handle it correctly
I don't think I can solve this in a somewhat correct way and it would be better to just let handle such a syntax by a user
So the user needs to correctly write the syntax like `(entry, index) in list` and then the fo

[2020-11-21 17:54] lehni commented on #137
Yes I agree, let's close this!

[2020-11-21 17:54] #137 closed

[2020-11-23 23:34] Shinigami92 commented on #158
@bminer Good news: I've completed the _basic_ work on this enhancement
During the next few days I'll take a look at what I've written to identify more potential issues and possible improvements

[2020-11-24 04:07] basaran opened #160 "Bug: Invalid pugWrapAttributesPattern value"
## Info

[code]

## Prettier config

[code]
## Additional Context
While running prettier through the CLI, it returns

`[error] Invalid pugWrapAttributesPattern value. Expected a string, but received 1.`

Setting to `pugWrapAttributesPattern: "1",` removes the error, but it appears the output is not being processed as defined in `pugWrapAttributesPattern` documentation. It seems to be ignored.

[2020-11-24 08:52] Shinigami92 commented on #160
Oh I found a problem in `README.md` related to this, so maybe sorry for the confusion and I will fix that.  (https://github.com/prettier/plugin-pug/commit/c79a993ed451983523b743931ebeb1f6585a464b)

`pugWrapAttributesThreshold` takes a number,
but `pugWrapAttributesPattern` takes indeed a string or more a 'pattern'.
So yes: `1` is not an acceptable input.
A pattern could be e.g. `"pugWrapAttributes

[2020-11-24 20:14] #158 closed

[2020-11-24 20:17] #156 closed

[2020-11-24 22:58] basaran commented on #160
Thank you very much, it is as expected now.

[2020-11-24 22:58] #160 closed

[2020-11-24 23:17] basaran opened #161 "dontWrapAttributesPattern"
## Request / Idea

Would it make sense to have a do not wrap regex pattern, similar to `pugWrapAttributesPattern` ? Possible use cases can be to match lines with irrelevant code that doesn't require much attention or repetitive. It could save space and produce more readable code.

For instance, if we had a `dontWrapAttributesPattern`:

[code]

vs

[code]
Also both `dontWrapAttributesPattern` and `

[2020-11-25 07:37] Shinigami92 commented on #161
So at first I will try to answer your second part: "should take in an object of regexs"
Why should they do this? What is currently not possible? Regex is a really strong language and you can pass multiple patterns at once. IMO you also don't need any kind of order here like in e.g. `pugSortAttributesBeginning`.

So what should `dontWrapAttributesPattern` even do? Could you please add an example of

[2020-11-25 09:48] Shinigami92 opened #162 "Format value of style attribute in tags"
## Info

| Tool      | Version                 |
| --------- | ----------------------- |
| Plugin    | v1.11.0                 |
| Prettier  | v2.2.0                  |
| Framework | none |
| Node      | v15.2.1                  |
| OS        | win,linux,mac           |

## Prettier config

[code]

## Input

[code]

## Output or Error

Same a input

## Expected Output

[code]

## Additional Contex

[2020-11-25 10:04] basaran commented on #161
Hello, I completely agree, stuff shouldn't be added because "it's nice to have". That's why I asked if it would make sense.

This is how I thought of it initially:

`pugDontWrapAttributesPattern` will bypass all wrapping altogether, no matter what the `pugPrintWidth` is set to.

But if an object of arrays are used for `pugWrapAttributesPattern`, a similar outcome could be had. For instance:

[code

[2020-11-25 10:04] #161 closed

[2020-11-25 10:22] Shinigami92 commented on #161
One problem is that I need to relay on prettier and prettier doesn't support object arrays as properties
That's because it has to be CLI compatible

I'm happy for any proposals and also thanksfully for my community like you are a member of it :slightly_smiling_face:
But in the current state of this proposal it's too complex and of too little use

[2020-11-25 17:03] #162 closed

[2020-11-26 06:48] prphntm63 opened #164 "Bug:"
## Info

| Tool      | Version                 |
| --------- | ----------------------- |
| Plugin    | v1.10.1                  |
| Prettier  | v2.1.2                  |
| Framework | none |
| Node      | v12.14.0                  |
| OS        | win,mac           |

## Prettier config

[code]

## Input

[code]
-->

## Output or Error

[code]

## Expected Output

[code]

## Additional Context
One

[2020-11-26 07:21] Shinigami92 commented on #164
I cannot do this due to limitations of the pug parser :slightly_frowning_face:
I'm very sorry but I need to forward you to https://github.com/pugjs/pug

As you can see in the stacktrace, the error was thrown by pug's `Lexer`, it's not an error of my formatter itself. Indeed this error is thrown before this plugin even starts with the formatting process.

You can also paste your example into https:

[2020-11-26 07:21] #164 closed

[2020-11-26 18:22] prphntm63 commented on #164
Ah I see. Thanks!

[2020-11-28 07:42] basaran opened #165 "add option to disable automatic inline of class names"
## Request / Idea

Some editor extensions are having a tough time providing intellisense auto completions (vetur) when the intellisense is invoked inline on a `pug` file.

This is not an issue with the `plugin-pug`, but it would be extremely helpful to have an option to disable inlining of css class names during development.

Option can be called something like `pugTagCss`

Please see the recordin

[2020-11-28 07:56] Shinigami92 commented on #165
Duplicate of #36
But can you copy your gif and explanation as a comment into the other issue?
This will increase the priority much!

[2020-11-28 07:56] #165 closed

[2020-11-28 09:09] basaran commented on #165
Sure thing, and also please let me know if you would accept a PR for this?

[2020-11-28 09:11] basaran commented on #36
Related to #165

Some editor extensions are having a tough time providing intellisense auto completions (vetur) when the intellisense is invoked inline on a `pug` file.

This is not an issue with the `plugin-pug`, but it would be extremely helpful to have an option to disable inlining of css class names during development.

Option can be called something like `pugTagCss`

Please see the recording:

[2020-11-28 09:11] Shinigami92 commented on #165
I'm **always** happy about PRs 😃
Also look into the one PR already opened and the discussion in the other issue 🙂

[2020-11-28 09:45] Shinigami92 commented on #36
@basaran So I invited you with `write` permissions to our repo
This allowes you to create branches and modify branches except the `master` branch
`master` branch is readonly for you

This is useful because you don't need to create a fork and we can work together on this feature

So now you have two options:
1. Wait on @SkyaTura and ask him if you can help him with his PR?
2. Open a second branch a

[2020-11-28 09:45] basaran commented on #165
Great, it seems he already made progress and is planning to include a regex option as well. He should be done soon, I will not create noise. Thank you.

[code]

[2020-11-28 09:57] Shinigami92 opened #166 "Rename master branch to main"
We should rename the `master` branch to `main`, cause that's the new default of GitHub
We need to check several things

1. Wait on open PR branches to be closed, so branch maintainers don't need to struggle with it
2. Referencing links like in README.md or CHANGELOG.md
3. Links in tag descriptions
4. Workflows
5. Further things?

Sources:
- https://github.com/github/renaming

[2020-11-28 10:04] Shinigami92 commented on #36
Oh, one thing I forgot: If working together on one branch => **DON'T** use `rebase`/`force-push`

[2020-11-28 10:55] basaran commented on #36
Arigatou Gozaimasu :) I will be happy to help in anyway I can

[2020-11-28 15:26] SkyaTura commented on #36
I was having some hard time re-learning how to type on my new split-ortholinear keyboard, but now that my WPM and accuracy are acceptable again I can finish my work here.

But I'm still open to ideas of how create an attribute when class/id are unset to implement the `attribute` mode.

[2020-11-28 16:26] Shinigami92 opened #167 "Add third option for pugClassNotation and pugIdNotation"
This will be a follow-up of #36, because this third option will need a bit more refactoring and is not quite as easy to implement as the other two options.
To let users already benefit from the other two options, we will create a release before starting working on this third option.

[2020-11-28 17:15] #36 closed

[2020-11-28 17:32] Shinigami92 commented on #166
@SkyaTura @lehni If you have any local sources of this repo, you need to follow the steps below in this article: https://www.git-tower.com/learn/git/faq/git-rename-master-to-main (`What Your Teammates Have to Do`)

Making a better world for everyone :earth_americas: :earth_africa: :earth_asia:

[2020-11-28 17:57] #166 closed

[2020-11-30 20:58] bminer commented on #158
@Shinigami92 - Looks great!  Thanks!  Inline scripts now run through prettier, but the inline script output does not respect the .prettierrc configuration file.  Furthermore, the indentation within the pug file should probably be consistent with the inline script; that is, if the pug file is tab-indented, the inline JavaScript should also be tab-intented.

[2020-11-30 21:18] bminer commented on #158
Seems to work great if you merge `options` into `codeInterpolationOptions`.  Not sure why code interpolation options overrides the `singleQuote` flag for Prettier as shown [here](https://github.com/prettier/plugin-pug/blame/2890817261c92595aea97776dbfcb9a0a62ab003/src/printer.ts#L185).  Shall I open another issue for this?

[2020-11-30 21:24] Shinigami92 commented on #158
The problem with the `singleQuotes` is more a problem of #45
There is a huge problem with that, because of detection of some evil string quotes like ``"`'`` and their escaption

That's why it's always the opposite of `pugSingleQuotes` option

Maybe we can improve it for some code parts like when it's not in an attribute
But two things:
1. It needs a huge load of tests and we need to find the corre

[2020-11-30 21:27] Shinigami92 commented on #158
Ah yeah and another problem:
if we want to support the current behaviour, we need to introduce a kinda third option
`pugJsSingleQuotes`
IMO that's overkill 😕

[2020-11-30 21:30] Shinigami92 commented on #158
I would suggest to checkout the repo and use `yarn link` + `yarn link "@prettier/plugin-pug"` in your target project and experiment a bit with that
Also you can run `yarn test --silent` and see the problems

If you found a solution, please create a PR

[2020-12-04 16:13] aero31aero opened #168 "Bug: Plugin removes all content of the Pug files!"
## Info

| Tool      | Version                 |
| --------- | ----------------------- |
| Plugin    | v1.13.0                 |
| Prettier  | v2.0.5                  |
| Framework | none                    |
| Node      | v14.9.0                 |
| OS        | linux                   |

## Prettier config

[code]

## Input

[code]

## Output or Error

The diff is:

[code]

## Expected Output

An

[2020-12-04 16:57] Shinigami92 commented on #168
Could you retry with prettier >= 2.1? If this is the problem I need to clarify this in peer dependencies.

[2020-12-08 11:00] andreubotella opened #169 "Bug: Plugin removes unescaped interpolations"
## Info

| Tool      | Version                 |
| --------- | ----------------------- |
| Plugin    | v1.13.0                  |
| Prettier  | v2.2.1                  |
| Framework | none |
| Node      | v14.14.0                  |
| OS        | linux           |

## Prettier config

[code]

## Input

[code]

## Output or Error

[code]

[code]

## Expected Output

`prettier` should not raise an e

[2020-12-08 11:21] Shinigami92 commented on #169
Thanks for the report 👍
And yes, the pipeless script tag progression is a new feature
I will add a test for your case and investigative what's wrong with it

[2020-12-08 12:23] Shinigami92 commented on #169
I identified the problem and working on a warning handling system for that
So in the future you will get notified that you are using invalid JS, but it may be ok cause of interpolated code and then you can ignore the warning

[2020-12-08 17:20] #169 closed

[2020-12-08 17:37] Shinigami92 commented on #168
Yes, that is it! Will bump peerDependencies to >= 2.1

[2020-12-08 17:40] #168 closed

[2020-12-09 17:03] #109 closed

[2020-12-09 17:34] Shinigami92 commented on #26
Occurrences of embedded html tags like `b` should be kept in mind and observed / tested during implementation

Example:
 https://github.com/webkom/vote/blob/6093f437415b921c33d06c35123e9bc83e214c72/app/views/login.pug#L29

[2020-12-11 05:57] yuheiy opened #171 "Bug: Blank lines contain spaces in inline syntax"
## Info

| Tool      | Version                 |
| --------- | ----------------------- |
| Plugin    | v1.13.1                  |
| Prettier  | v2.2.1                  |
| Framework | none |
| Node      | v12.20.0                  |
| OS        | mac           |

## Prettier config

I’m using the default config.

## Input

[code]

The 4th line contains no spaces.

## Output or Error

[code]

The 4

[2020-12-11 10:11] Shinigami92 commented on #171
Hi @yuheiy
Sorry for that bug 😅

So I think I know were this is coming from

The red part is the whole indentation of the code from pug and the green part is the indented-managed part from js
<img src="https://user-images.githubusercontent.com/7195563/101889788-19e24f00-3ba0-11eb-9ed1-f30c8b3cfa40.png" width="60px"/>

So we have to iterate over the formatted lines and check where blank lines occur

[2020-12-18 12:45] Shinigami92 commented on #171
@yuheiy I'm so sorry for you that I currently also taking holiday from GitHub :sweat_smile:
I have around 60h playtime in CP2077 and still not finished with it 🥰
Also I have some private meetings here and there as christmas events

So tldr: I think I will come back to GitHub in January

Have a greate time and stay safe :smiley:

[2020-12-18 13:22] bsiguret opened #172 "Disable PugPrinter:formatText vue's specific warnings"
## Request / Idea

Make a way to be able to disable these kind of warning:

`If you are using Vue, you can ignore this message`

## Additional Context
Hello,

First of all sorry if it's existing already but I couldn't find a way to do this. We are working on Vue with pug template and Nuxt. Our problem is that Pug warning are spamming our terminal every time our site hot reload with this type of me

[2020-12-18 13:28] Shinigami92 commented on #172
There is one problem with that: It's more "you may ignore this message" instead of "can"
What if this message was not printed, it it's actually a problem :thinking:

We already thought about flags for vue and angular, but until now we tried to avoid these flags

You should add a comment on #109 (it's now in GitHub's new `Discussion` section)

_little sidenote: I'm currently making a bit like holid

[2020-12-18 13:37] bsiguret commented on #172
Yeah, my point is to have a flag for Vue to disable these warning who aren't an actual problem, because vue.

It wouldn't be a problem if they were printed only one time but because of Nuxt hot reload they are literally spamming and polluting our terminal. It may be a specific problem thought. I'll check the Discussion and add a little comment linking to this issue.

_Aren't we all ? Thanks for th

[2020-12-30 07:17] jinrongni opened #174 "Bug: Error: Invalid --pug-bracket-spacing value. Expected null, false, "" or "true", but received true."
## Info

| Tool      | Version                 |
| --------- | ----------------------- |
| Plugin    | v1.13.1                 |
| Prettier  | v2.2.1                  |
| Framework | vue |
| Node      | v12.20.0                  |
| OS        | win           |

## Prettier config

[code]

## Input

[code]

## Output or Error

[code]

## Expected Output

[code]

## Additional Context
when i am runn

[2020-12-30 07:19] Shinigami92 commented on #174
https://github.com/prettier/prettier/issues/9204

[2020-12-30 07:19] #174 closed

[2021-01-08 13:15] Shinigami92 commented on #171
Oh my god, I'm so sorry for you @yuheiy that I let you wait so long
I started working on this and thought "OK that may be hard to find and fix, but let's do it"
... and then ... it was a one-liner :facepalm:

https://github.com/prettier/plugin-pug/pull/175/files#diff-35264771cf86f41ef7b7d56b764142b299a8bd2a972b2316e4e3e92e13056500R1171

:rofl:

But I will let make a co-worker a review on this so I

[2021-01-08 13:19] yuheiy commented on #171
Great! Thank you so much!

[2021-01-08 13:25] #171 closed

[2021-01-08 13:38] Shinigami92 commented on #172
@bsiguret

Thinking about this futher, should I just implement a `pugLoggerLevel` option?
So users can set it to `pugLoggerLevel: 'off'` if they really want to?

The default would still be 'info', but this way you could set it to e.g. 'error'.
Downside would be you will ignore ANY warnings.
But I don't really want to provide something like ignore for a framework or ignore error x and y and z.
So I

[2021-01-08 13:43] Shinigami92 commented on #171
There it is :heart: https://www.npmjs.com/package/@prettier/plugin-pug/v/1.13.2

[2021-01-14 13:37] bsiguret commented on #172
@Shinigami92

Hello, Sorry for the delay. I don't think it is a good solution to off all warnings. Some might be very useful.

[2021-01-14 14:15] Shinigami92 commented on #172
@bsiguret Thank you.
This is helpful feedback and I will take this into account when designing a suitable option.

[2021-01-31 15:16] Shinigami92 opened #176 "Bug: Cannot format v-on spread destructuring"
## Info

| Tool      | Version                 |
| --------- | ----------------------- |
| Plugin    | v1.13.2                 |
| Prettier  | v2.2.1                  |
| Framework | vue                     |
| Node      | v15.6.0                 |
| OS        | win,linux,mac           |

## Prettier config

[code]

## Input

[code]

## Output or Error

[code]

## Expected Output

[code]

## Addit

[2021-01-31 16:22] #176 closed

[2021-02-14 11:15] Heziode opened #178 "pugWrapAttributesThreshold: wrap according to line length (printWidth)"
## Request / Idea

Add a way to wrap tags that have a length greater than the line length.

## Input

[code]

## Expected Output

With `printWidth: 120`, we should have something like that:

[code]

## Additional Context

[2021-02-14 11:36] Shinigami92 commented on #178
Could you be more specific and also add a `Actual Output` + your prettier config?

Also we have `pugWrapAttributesThreshold`.
- What did you tried with that?
- What can it not solve for you?

_sorry if I misunderstood some parts, I'm german native_

---

<img src="https://user-images.githubusercontent.com/7195563/107875539-e930d580-6ec0-11eb-8a11-4ba1d0684bba.png" width="300px" />

Also I saw this

[2021-02-14 11:42] Heziode commented on #178
I do not use the pug plugin for prettier currently, because it does not provide what I needs.

Indeed, this should be wrapped too.

---

The behaviour of the wrap attribute treshold I needs is: if attributs in tags exceeds the `printWidth` setting, so the tag will be wrapped, one attriubte per line.

[2021-02-14 11:51] Shinigami92 commented on #178
I'm confused and hope that I don't misunderstood anything
But isn't this the default behavior of our plugin? You only need to set `printWidth` to 120 and that's it :thinking:

[2021-02-14 12:15] Heziode commented on #178
Indeed, you are right.

I didn't understand this example in documentation:

[2021-02-14 12:15] #178 closed

[2021-02-18 15:24] #58 closed

[2021-02-18 15:34] Shinigami92 commented on #58
@leider @Cloudless67 This is now released as [v1.13.4](https://www.npmjs.com/package/@prettier/plugin-pug/v/1.13.4) :tada:
Thank you very much :heart:

[2021-02-25 12:46] Shinigami92 opened #180 "Handle v-slot formatting"
## Input

[code]

## Expected Output

[code]

[2021-02-27 18:43] #180 closed

[2021-03-19 12:12] Shinigami92 opened #182 "Bug: Treat the autocloseable tag with trailing text correctly"
## Info

| Tool      | Version                 |
| --------- | ----------------------- |
| Plugin    | v1.13.5                 |
| Prettier  | v2.2.1                  |
| Framework | none                    |
| Node      | v15.6.0                 |
| OS        | win,linux,mac           |

## Input

[code]

## Expected Output

[code]

## Actual Output

[code]

[2021-03-22 14:13] SkyaTura opened #184 "Bug: Interpolating Javascript codes creates a warn"
## Info

| Tool      | Version                 |
| --------- | ----------------------- |
| Plugin    | v1.13.5                  |
| Prettier  | v2.x.x                  |
| Framework | vue |
| Node      | v14.15.3                  |
| OS        | mac           |

## Prettier config

[code]

## Input

[code]

## Output or Error

[code]

[2021-03-22 14:14] SkyaTura commented on #184
I'm trying to track the problem down, without any success yet...

[2021-03-22 14:16] Shinigami92 commented on #184
Try

[code]

[2021-03-22 18:28] SkyaTura commented on #184
This would work, however, on vue, something like this should be valid to keep reactivity:
[code]

_I know that isn't pretty, but it's valid. I have some occurrences of this case older repositories_

[2021-03-22 18:34] Shinigami92 commented on #184
Are you willing to provide a PR for this fix?

I thing the warning is thrown somewhere here:
https://github.com/prettier/plugin-pug/blob/6b88a4fb2c49bb6dd321c9887b36574383097366/src/printer.ts#L407-L438

If you like you can try to find a better solution for this if-else mess :slightly_smiling_face:

[2021-03-22 21:38] #182 closed

[2021-03-28 16:13] Shinigami92 opened #188 "Provide a static documentation website"
## Request / Idea

Provide a [VuePress](https://vuepress.vuejs.org) static documentation website via GitHub Pages that serve documentation and examples for each rule

## Demo

https://prettier.github.io/plugin-pug

[2021-04-01 14:45] SkyaTura opened #192 "Bug: Sorting isn't working as expected"
## Info

| Tool      | Version                 |
| --------- | ----------------------- |
| Plugin    | v1.13.5                  |
| Prettier  | v2.2.1                  |
| Framework | vue |
| Node      | v14.15.4                  |
| OS        | mac           |

## Prettier config

[code]

## Input

[code]

## Output or Error

[code]

## Expected Output

[code]

## Additional Context

Discussion #

[2021-04-04 09:57] #184 closed

[2021-04-08 16:53] h0merjam commented on #167
This will be extremely helpful when using Tailwind!

Has this been started? Are there any pointers available for where to begin?

[2021-04-08 16:57] Shinigami92 commented on #167
It's kinda easy to start by adding the new option to the options:

https://github.com/prettier/plugin-pug/blob/a66432dc9890a52c671ac77f7eb58a4f1f7e241c/src/options/pug-class-notation.ts#L11-L14

https://github.com/prettier/plugin-pug/blob/a66432dc9890a52c671ac77f7eb58a4f1f7e241c/src/options/pug-id-notation.ts#L11-L14

And then add tests for the option in

- https://github.com/prettier/plugin-pug/t

[2021-04-08 17:03] Shinigami92 commented on #167
@h0merjam The third choice should be `attribute` (opposite of `literal` ^^)

And then your both function friends are here and below: https://github.com/prettier/plugin-pug/blob/main/src/printer.ts#L577

`start-attributes` and `attribute`

[2021-04-20 14:25] h0merjam commented on #167
Hmm, this isn't quite as simple as I'd hoped!

I've tried to grasp what's happening with the `literal` option and how the `attribute` option might work. Based on what I think I understand so far the steps might be:

- store literals via `class`/`id` token type processor (this would require adding new private vars to the `PugPrinter` class❓ - `classesToAppend` / `idToAppend`)
- convert/append liter

[2021-04-20 14:48] Shinigami92 commented on #167
I'm currently not at home
But yes that sounds right
Try the one that is easier, in the end both could work

[2021-04-20 17:43] #188 closed

[2021-04-21 03:34] basaran opened #201 "Bug: svelte pug formatting"
## Info

| Tool      | Version                 |
| --------- | ----------------------- |
| Plugin    | v1.13.5                  |
| Prettier  | v2.2.1                  |
| Framework | svelte |
| Node      | v15.4                  |
| OS        | wsl           |

## Additional Context

In reference to [https://github.com/sveltejs/language-tools/issues/951](https://github.com/sveltejs/language-tools

[2021-04-21 06:16] dummdidumm commented on #201
This reproduction will not work for Svelte files because right now `prettier-plugin-svelte` which formats Svelte files completely skips formatting the pug template part. I will play around with removing that limitation in the next few days. Until then, for reproduction, it is best to focus on the parts inside `<template lang="pug">`. You might copy the stuff inside out of there and see how it is f

[2021-04-21 06:23] Shinigami92 commented on #201
Thanks, I already saw that it seems that svelte uses single braces, e.g. `{name}`

This may currently not work in my plugin and I will need to fix that

[2021-04-21 09:54] basaran commented on #201
It seems the language functions are prefixed with `+` when inside the pug template.  You can replace the `App.svelte` with this.

Things appear to formatting just fine.

[code]

[2021-04-21 10:04] Shinigami92 commented on #201
The `+` prefixed tags will be just recognized as pug-mixins https://pugjs.org/language/mixins.html

I don't know if I will have time today, tomorrow or at very least over weekend

[2021-04-21 10:07] basaran commented on #201
Sure thing. Meanwhile, I will keep reading the docs :)

[2021-04-29 17:59] lehni opened #206 "Bug: Added semicolon in front of template string"
## Info

| Tool      | Version                 |
| --------- | ----------------------- |
| Plugin    | v1.14.0                  |
| Prettier  | v2.2.1                  |
| Framework | vue |
| Node      | v14.15.4                  |
| OS        | mac           |

## Prettier config

[code]

## Input

[code]
-->

## Output or Error

A semicolon is added in front of the template string.

[code]

## E

[2021-04-29 18:02] Shinigami92 commented on #206
This bug was introduced somewhere in https://github.com/prettier/plugin-pug/compare/1.13.5...1.14.0
I think via https://github.com/prettier/plugin-pug/commit/2e77531561aca829ff9bc21f82ec63c2a1d2bc10

@SkyaTura Do you want to have a look? Or should I fix it?
A special test for this would be nice :slightly_smiling_face:

[2021-04-29 18:27] lehni commented on #206
I'm aware that this is the better way to write this, but the above is still strange, and `v1.13.5` wasn't doing this:

[code]

[2021-05-01 16:37] #201 closed

[2021-05-01 17:05] #206 closed

[2021-05-02 14:07] Shinigami92 commented on #192
@kaangokdemir due to technical limitations the beginning patterns are taken in reverse order.
So your `^:` is seen before `^:key$` and `^:key$` is therefore never seen.

You need to modify your pattern with a negative lookahead to `^:(?!key)` and that will fix your problem.

See this for an example: https://github.com/prettier/plugin-pug/pull/210/files#diff-42e7d9c4c1a49d17a45b508ee351796aa2698bc8

[2021-05-05 08:43] Mach12 opened #211 "Bug: package.json does not have a valid "main" entry?"
## Info

| Tool      | Version                 |
| --------- | ----------------------- |
| Plugin    | v1.15.0                  |
| Prettier  | v2.2.1                  |
| Framework | vue |
| Node      | v12.22.1                  |
| OS        | linux           |

## Prettier config

[code]

## Input

[code]

## Output or Error

[code]

## Expected Output

[code]

## Additional Context

Looking at

[2021-05-05 13:52] Shinigami92 commented on #211
I'm so sorry 😓
I added a `prepublishOnly` script now so that shouldn't happen again
https://github.com/prettier/plugin-pug/commit/4b874d3a64098911760ae842cd2e3fc4e4bcf92b

[2021-05-05 13:57] Shinigami92 commented on #211
`index.js` is now available again in `1.15.1`
Checked: https://unpkg.com/@prettier/plugin-pug@1.15.1/dist/index.js

[2021-05-05 13:57] #211 closed

[2021-05-05 14:15] Shinigami92 opened #212 "Bug: Cannot format v-bind spread destructuring"
## Info

| Tool      | Version                 |
| --------- | ----------------------- |
| Plugin    | v1.15.1                 |
| Prettier  | v2.2.1                  |
| Framework | vue                     |
| Node      | v16                     |
| OS        | win,linux,mac           |

## Prettier config

[code]

## Input

[code]

## Output or Error

[code]

## Expected Output

[code]

## Addit

[2021-05-07 11:43] #212 closed

[2021-05-07 11:47] #192 closed

[2021-06-24 07:07] millerrafi opened #238 "Bug: Can't interpolate Pug variables into a Vue directive"
## Info

| Tool      | Version                 |
| --------- | ----------------------- |
| Plugin    | v1.15.3                  |
| Prettier  | v2.3.1                  |
| Framework | vue |
| Node      | v14.8.0                  |
| OS        | win           |

## Prettier config

[code]

## Input

[code]

## Output or Error

[code]

## Additional Context
I am using Pug mixins to abstract the temp

[2021-06-24 10:25] Shinigami92 commented on #238
Okay, I think the issue is somewhere around here

https://github.com/prettier/plugin-pug/blob/931fe366e998a6e4b70edd554285690be46a9152/src/printer.ts#L871-L875

So I already try to detect multiline strings that uses backticks
This is not your case

Then it checks for `v-for` with `of`, also not your case
Then vue expression -> this is your case, BUT we have now a problem, cause the vue expression

[2021-06-24 10:36] Shinigami92 commented on #238
Please review https://github.com/prettier/plugin-pug/pull/239/files

And you can do me also a favor if you could check this branch out, use yarn link and test it with your local project in real world scenario

I'm a little bit afraid, that I just disabled to much so that things that potentially formatted previously doesn't format now anymore 🤔

[2021-06-24 14:12] millerrafi commented on #238
Thank you very much, I'm happy to review and test locally but I won't be available until Sunday or Monday.

As for a solution, it would be amazing for my use case to format for example

[code]
as
[code]
but i would not be surprised if that isn't feasible

[2021-06-27 02:06] bitencode opened #241 "feature request: explicit div in output"
## Request / Idea

Option to not remove the `div` element when literal class or id is used.
I recently found your plugin and it's just about perfect for our needs (Vue with Pug).  However, for reasons we don't allow the use of `.my-class` or `#myId` in our templates.  We require the use of `div.my-class` particularly because it is hard for new devs to grok and it's more explicit.

## Input

[code]

[2021-07-01 10:42] OiYouYeahYou opened #244 "Bug: Can't handle non-JS script content"
## Info

| Tool     | Version |
| -------- | ------- |
| Plugin   | v1.15.3 |
| Prettier | v2.3.2  |

## Prettier config

`default`

## Input

[code]

## Output or Error

[code]

## Expected Output

[code]

## Additional Context

I am assuming that the plugin assumes all scripts are JS, but this is annoying when you're not putting JS in a script tag. It can't be fixed with a `//- prettier-ignore`

[2021-07-01 11:43] Shinigami92 commented on #244
I will have time upcoming weekend.
If you like you can try to create a PR

[2021-07-02 19:48] Shinigami92 commented on #238
Ah damned, that's not possible :slightly_frowning_face:
Cause I just get e.g. `{'foo':${foo}}` as string
Then it sees:

[code]

So it would assume it is json in js but then suddenly see a dollar sign where a dollar sign is not possible cause it expected e.g a string, number, other primitive or object/array

[2021-07-02 20:43] Shinigami92 commented on #241
This will land in the next release, but I have some other PRs that also needs to be merged
Maybe I will release a beta in the next few days

[2021-07-02 20:43] #241 closed

[2021-07-02 20:48] #238 closed

[2021-07-02 20:49] Shinigami92 commented on #238
This will land in the upcoming release, but this could take some days and I think I will first create a beta with some other current PRs

[2021-07-02 23:43] bitencode commented on #241
Thank you @Shinigami92

[2021-07-05 14:51] #244 closed

[2021-07-05 15:05] Shinigami92 commented on #241
Please try out the new beta [v1.16.0-0](https://www.npmjs.com/package/@prettier/plugin-pug/v/1.16.0-0) and report anything back :slightly_smiling_face:

[2021-07-05 15:05] Shinigami92 commented on #238
Please try out the new beta [v1.16.0-0](https://www.npmjs.com/package/@prettier/plugin-pug/v/1.16.0-0) and report anything back :slightly_smiling_face:

[2021-07-05 15:05] Shinigami92 commented on #244
Please try out the new beta [v1.16.0-0](https://www.npmjs.com/package/@prettier/plugin-pug/v/1.16.0-0) and report anything back :slightly_smiling_face:

[2021-07-05 20:22] bitencode commented on #241
Hi @Shinigami92, now I'm on vacation this week, but have a laptop with me 😉.  I haven't found any issues related to the `pugExplicitDiv` feature, other than the release notes say `pubExplicitDiv` instead of `pugExplicitDiv`.

I ran 1.16.0-0 on two of my personal projects and found no issues it all, but both projects have had a single developer and are pretty consistent in style.  One has about 50

[2021-07-05 20:35] bitencode opened #250 "Bug: corrupts pug variable names that are assigned to bound Vue props"
### Plugin Version

v1.15.3 & 1.16.0-0

### Prettier Version

v2.3.1

### Which frameworks are affected?

- [ ] none
- [X] vue
- [ ] angular
- [ ] svelte

### Node Version

v12.19.1

### Which operating systems have you used?

- [ ] Linux
- [X] macOS
- [ ] Windows

### Prettier config

[code]

### Input

[code]

### Output or Error

[code]

### Expected Output

[code]

### Additional Context

~I e

[2021-07-05 21:26] bitencode opened #251 "Bug: places closing paren in wrong location of v-for"
### Plugin Version

v1.15.3 & 1.16.0-0

### Prettier Version

v2.3.1

### Which frameworks are affected?

- [ ] none
- [X] vue
- [ ] angular
- [ ] svelte

### Node Version

v12.19.1

### Which operating systems have you used?

- [ ] Linux
- [X] macOS
- [ ] Windows

### Prettier config

[code]

### Input

[code]

### Output or Error

[code]

### Expected Output

[code]

### Additional Context

Whil

[2021-07-06 04:38] bitencode commented on #251
I was looking at this a bit this evening, and it may be an issue that `plugin-pug` can't do anything about. In `formatDelegatePrettier(...)` just before prettier `format()` is called the value for `val` is `transferService, index in allTransferServices`.  The returned value of `format(val, { parser, ...this.codeInterpolationOptions });` is `(transferService, index in allTransferServices)`, so it l

[2021-07-06 05:57] millerrafi commented on #238
Much better, thank you! My Pug has never been so pretty 😄

Sorry about testing, I didn't get a linked version working on the first try and didn't have time to troubleshoot it.

And BTW I have had some other problems that break my code. I may open some issues and feel free to close them if out of scope, in the meantime I'm using `//- prettier-ignore` for those cases.

[2021-07-06 15:34] bitencode commented on #250
Updated title and description based on new understanding of what the actual problem is.

[2021-07-06 16:54] #250 closed

[2021-07-06 17:00] Shinigami92 commented on #250
Released in beta [v1.16.0-1](https://www.npmjs.com/package/@prettier/plugin-pug/v/1.16.0-1)

[2021-07-06 18:43] bitencode commented on #250
@Shinigami92 I tested `v1.16.0-1` on our code - it changed nearly 400 files (mainly prop order, stack/wrap attributes, and some line length).  So, did exactly what I'm looking for 👍 ❤️.  Outside of the #251 issue, I don't see any problems - I'm manually fixing the `v-for` problem in our code because I don't find any Vue documentation that says it's valid anyway.

Thanks! 👍

[2021-07-09 17:03] lukaromih opened #255 "Bug: pugAttributeSeparator='as-needed' breaks quotes of the preceding attribute value"
### Plugin Version

v1.16.0

### Prettier Version

v2.3.2

### Which frameworks are affected?

- [X] none
- [ ] vue
- [ ] angular
- [ ] svelte

### Node Version

v10.19.0

### Which operating systems have you used?

- [X] Linux
- [ ] macOS
- [ ] Windows

### Prettier config

[code]

### Input

[code]

### Output or Error

[code]

### Expected Output

[code]

### Additional Context

When using the

[2021-07-09 21:05] Shinigami92 commented on #255
I think I know this issue, but was too lazy to fix it, cause nobody reported it... Until now... Now I think I have to finally fix it :sweat_smile:
_How dare you_ :rofl:
I will work tomorrow on this :+1:

[2021-07-10 11:01] #255 closed

[2021-07-10 11:09] Shinigami92 commented on #255
@lukaromih Please test out [v1.16.1-0](https://www.npmjs.com/package/@prettier/plugin-pug/v/1.16.1-0).

[2021-07-10 13:15] lukaromih commented on #255
Well, that was fast and the fix definitely works. Thanks!

Would you recommend that I update the dependent projects with version v1.16.1-0 (how stable is it?) or wait for the next patch/minor version?

As far as I'm concerned, this issue has been resolved 👍👏

[2021-07-10 13:24] Shinigami92 commented on #255
`v1.16.1-0` could potentially be exactly what `v1.16.1` will be :slightly_smiling_face:
I just wanted to be safe and I will try it on next working-day on my companies project

[2021-07-16 10:26] kaangokdemir commented on #180
Even it works well with default and named slots, unfortunately it still not works well with [named slot shorthand](https://vuejs.org/v2/guide/components-slots.html#Named-Slots-Shorthand)

## Input

[code]

## Expected Output

[code]

[2021-07-16 10:35] Shinigami92 commented on #180
@kaangokdemir Could you open a new issue? That will create a new issue number and I need that cause my test directories (and changelog entries) are referencing these issue numbers.

[2021-07-21 15:20] phoshenwen opened #257 "Bug: Missing semicolon after 'echo'"
## Info

| Tool      | Version                 |
| --------- | ----------------------- |
| Plugin    | v1.16.1                  |
| Prettier  | v2.3.2                  |
| Framework | none |
| Node      | v16.5                  |
| OS        | win           |

## Prettier config

[code]

## Input

[code]

## Output or Error

missing semicolon after 'echo'
[code]

## Expected Output

no error

## A

[2021-07-21 20:13] Shinigami92 commented on #257
The pug lexer can parse this somehow and returns

[code]

As you can see it recognize the hot part as type code
This code is then passed to the babel prettier processor by my plugin. But `echo get_field("hero_content");` is not valid JS (as far as I know) :thinking:

I think it is maybe a deprecated feature from jade? If so I will not support it :slightly_frowning_face: sorry for that.

Otherwise

[2021-07-22 20:47] phoshenwen commented on #257
I'm compiling the jade files to PHP via gulp and gulp-jade-php. The echo statement comes from vanilla PHP and prints the result of the get_field() function which is simply a string. Another equivalent example would be a simple line of - require '/test.php';

But I'm getting the feeling that this wasn't meant for php to begin with

[2021-07-23 06:37] Shinigami92 commented on #257
I am really sad that I cannot help you from my part, cause IMO this is not only the special case of the deprecated usage of jade, but also the assumption that php is involved but js syntax is assumed.
But if you like, you are welcome to try to create a PR on your own. Maybe you can create an option to toggle a flag or something like that :thinking:

Feel free to close this issue or discuss further

[2021-07-28 18:19] jd-0001 opened #261 "Bug: Can't preserve backticks"
## Info

| Tool      | Version  |
| --------- | -------- |
| Plugin    | v1.16.0  |
| Prettier  | v2.3.2   |
| Framework | none     |
| Node      | v14.16.1 |
| OS        | linux    |

## Prettier config

[code]

## Input

[code]

## Output or Error

[code]

## Expected Output

[code]

## Additional Context

`roundness` is a global variable:

[code]

So, How can I make this plugin preserve backtic

[2021-07-28 18:27] Shinigami92 commented on #261
Will check if this is a bug

Could you check that your input is really valid?

![image](https://user-images.githubusercontent.com/7195563/127375689-0615ce38-b0f3-4bff-92cd-74aeb1f975a5.png)

Seems there is a missing backtick?

Could you check if it's a regression of https://github.com/prettier/plugin-pug/commit/ff0715c83f7e9c69d354978aa4be33ee9e626931#diff-4ade25325a6cd7d1cca619364c84d19bfa47e6939

[2021-07-29 04:46] jd-0001 commented on #261
Sorry, I had full code and removed the unwanted class so I missed the ending backtick but my input is correct.

Will try your suggestion of rolling back and will let you know.

[2021-07-29 05:38] what1s1ove opened #262 "Bug: Indent with inline css styles"
## Info

| Tool      | Version                 |
| --------- | ----------------------- |
| Plugin    | v1.16.1                  |
| Prettier  | v2.3.1                  |
| Framework | none |
| Node      | v14.17.3                  |
| OS        | mac           |

## Prettier config

[code]

## Input

[code]

## Expected Output

[code]

## Additional Context

Hi there!

after prettify
![image](http

[2021-07-29 06:05] Shinigami92 commented on #262
Could you try `style.` instead of `style(type='text/css').` for a moment?
Also please report me if anything within the CSS gets formatted or not.

I assume it has something to do with code around here:

https://github.com/prettier/plugin-pug/blob/3a1cbf22c392193f5da7c7403f846a65cb87ec3a/src/printer.ts#L1310-L1323

If you like, please create a test and open a PR.
Otherwise I will add this to the li

[2021-07-29 06:12] what1s1ove commented on #262
Hey @Shinigami92, thanks for the quick answer 🙏

Unfortunately it didn't help ☹️

![image](https://user-images.githubusercontent.com/42296182/127440768-59a50765-b7d0-4298-a0be-3b5270f5ecde.png)

[2021-07-30 07:43] Shinigami92 opened #265 "Try Renovate"
@fisker I don't have permissions to try Renovate in my project due to to less permissions in prettier orga.

Could you activate Renovate for my project?

https://github.com/marketplace/renovate

[2021-07-30 08:12] Shinigami92 commented on #261
I found out that it is a specific bug for `class` attribute (maybe also for `id`)
So other attributes will work fine

And yes, it was introduced by the mentioned change

[2021-07-30 08:13] Yann-prak commented on #261
Hi,

I've roll back to 1.15.x and the bug doesn't exist anymore. Maybe your changes affected the way prettier interpret backticks.

[2021-07-30 08:14] Yann-prak commented on #261
Yes ! The only way I can reproduce the bug is on the id attr.

[2021-07-30 08:15] Shinigami92 commented on #261
The fix need to be applied here

https://github.com/prettier/plugin-pug/blob/39c50cebddb3058d908a3d62dfc24eaae92c5907/src/printer.ts#L790-L848

[2021-07-30 15:41] fisker commented on #265
/cc @lipis @alexander-akait

[2021-08-01 14:37] OiYouYeahYou opened #268 "Bug: Incorrect wrapping when `useTabs: true`, assumes tab is 0 width"
## Info

| Tool      | Version   |
| --------- | --------- |
| Plugin    | ^1.16.0-0 |
| Prettier  | ^2.3.2    |
| Framework | none      |
| Node      | 12        |
| OS        | linux     |

## Prettier config

[code]

## Input

[code]

## Output or Error

[code]

Formatting with spaces instead of tabs
[code]

## Expected Output

[code]

## Additional Context

When using `useTabs: false`, it wrap

[2021-08-03 10:12] OiYouYeahYou opened #269 "Improvement: Reduce the amount of logging"
Having worked on this project a bit one thing I have to do when testing is to disable the custom logger. The logger works fine, but, it's just a fire hose of noise when I'm trying to debug. I get the feeling that the all the loggingfrom past debugging sessions but have been inadvertently committed

[2021-08-03 10:14] Shinigami92 commented on #269
Do you have some suggestions how and what to do?

The debug logs are currently mostly helpful for me when fixing a new upcoming bug or implementing a new feature.

[2021-08-03 16:41] #261 closed

[2021-08-03 16:49] #262 closed

[2021-08-04 09:48] OiYouYeahYou commented on #268
I've been working on the indentation tests and this triggers the problem.

[code]

Which produces a diff of:

[code]

[2021-08-04 09:49] ZubkoWhatislove commented on #262
Hey @Shinigami92, thanks for fixing it 🙏

But now there is another problem 🥲

Now after the pretiffy, additional indents appear at the end of the styles...

![image](https://user-images.githubusercontent.com/60396171/128160374-cb99573c-40b7-4653-90d6-6fe491e161fc.png)
![image](https://user-images.githubusercontent.com/60396171/128160509-bbc98366-ce90-4394-9bcc-83acfb6c13b9.png)

But, strangely, th

[2021-08-04 09:51] what1s1ove commented on #262
Hey @Shinigami92, thanks for fixing it 🙏

But now there is another problem 🥲

Now after the pretiffy, additional indents appear at the end of the styles...

![image](https://user-images.githubusercontent.com/60396171/128160374-cb99573c-40b7-4653-90d6-6fe491e161fc.png)

![image](https://user-images.githubusercontent.com/60396171/128160509-bbc98366-ce90-4394-9bcc-83acfb6c13b9.png)

But, strangely, t

[2021-08-04 09:54] Shinigami92 commented on #262
You can help me with creating a new bug issue, cause I reference these in my unit test suite (https://github.com/prettier/plugin-pug/tree/main/tests/issues)
And please don't use screenshots but raw markdown embedded examples, so I can then copy&paste them

[2021-08-04 13:32] OiYouYeahYou commented on #269
With the logging disabled the testing output is 150 lines long, with logging left in it is over 100k more lines. Which is incredibly noisy.

Solution wise, first is to strip out all but the most necessary logging calls in the repository. Then it's either not to commit more logging calls in the future or to use VSCode debugging that I've added in #271.

This is a request to you as a maintainer, not

[2021-08-04 14:53] Shinigami92 commented on #269
If you are talking about tests, you should try `yarn test --silent`. This will mute the logging while running the tests.

Otherwise if you have a special test you want to perform, you can use either a path or a patter like so:

[code]

You can even combine path and pattern.

---

Please let me know if this was your case (testing). If so, you should benefit from my suggestions.
Otherwise please exp

[2021-08-04 15:05] OiYouYeahYou commented on #269
No this is not a solution when I'm trying to also output with `console.log` and it gets flooded out by all the other outputs. `npm test -- tests/indents` alone leads to a base 7838 lines of output that I have to sift through before I even want to find the `console.log` outputs I'm looking for or adding in.

[2021-08-04 16:20] Shinigami92 commented on #269
@OiYouYeahYou Okay another try :slightly_smiling_face:
Could you comment out locally following lines:

https://github.com/prettier/plugin-pug/blob/998a192e7d1f5ba1af4f98aacf0448dbcc26364a/src/index.ts#L24

https://github.com/prettier/plugin-pug/blob/998a192e7d1f5ba1af4f98aacf0448dbcc26364a/src/printer.ts#L101

Then try again and tell me if it is still to noisy :smile:
Then you can still write some

[2021-08-04 16:48] Shinigami92 opened #272 "Sortable class values"
## Request / Idea

There are now frameworks like [Windi CSS](https://windicss.org) and it could be useful to specify an order for class values so they get sorted automatically.
The new option needs to support `RegExp` so the developer is able to e.g. sort some individual values like `.grid-cols-\[100px\2c 1fr\2c min-content\]` and group them together.

[2021-08-04 18:41] OiYouYeahYou commented on #269
I have been doing something to that effect yes. But it's a short term solution to a long term problem. Which is why I've brought it up as an issue.

[2021-08-14 08:50] Shinigami92 commented on #265
@lipis @alexander-akait @prettier/core Any news here?

[2021-08-15 11:43] what1s1ove opened #278 "Bug: style element indents"
## Info

| Tool      | Version                 |
| --------- | ----------------------- |
| Plugin    | v1.16.2                  |
| Prettier  | v2.3.1                  |
| Framework | none |
| Node      | v14.17.3                  |
| OS        | mac           |

## Prettier config

[code]

## Input

[code]

## Expected Output

[code]

## Additional Context

Hi there!

Several problems with indent

[2021-08-15 12:30] #278 closed

[2021-08-15 12:36] Shinigami92 commented on #278
@what1s1ove Thanks for being part of my community :slightly_smiling_face:
I released [v1.16.4](https://www.npmjs.com/package/@prettier/plugin-pug/v/1.16.4) for you

[2021-08-15 12:38] what1s1ove commented on #278
Thaaanks @Shinigami92, you're beautiful 😻

[2021-08-15 15:31] j-f1 commented on #265
Enabled for this repo ✅

[2021-08-15 15:50] #265 closed

[2021-08-23 00:02] backbone87 opened #282 "Bug: pugSingleFileComponentIndentation does not work for templates starting with literal class or id"
### Plugin Version

master

### Prettier Version

^2.3

### Which frameworks are affected?

- [ ] none
- [X] vue
- [ ] angular
- [ ] svelte

### Node Version

14

### Which operating systems have you used?

- [X] Linux
- [ ] macOS
- [ ] Windows

### Prettier config

[code]

### Input

[code]

### Output or Error

[code]

### Expected Output

[code]

### Additional Context

working on a PR

[2021-08-23 08:53] #282 closed

[2021-08-25 04:59] renovate[bot] opened #285 "Dependency Dashboard"
This issue contains a list of Renovate updates and their statuses.

## Awaiting Schedule

These updates are awaiting their schedule. Click on a checkbox to get an update now.
 - [ ] Update all devDependencies (`@typescript-eslint/eslint-plugin`, `@typescript-eslint/parser`, `eslint-plugin-jsdoc`)
 - [ ] Lock file maintenance

---

- [ ] Check this box to trigger a request for Renovate to run again

[2021-09-08 03:18] backbone87 opened #289 "Bug: Can not handle Vue slot shortcut syntax"
### Plugin Version

master

### Prettier Version

^2.3

### Which frameworks are affected?

- [ ] none
- [X] vue
- [ ] angular
- [ ] svelte

### Node Version

14

### Which operating systems have you used?

- [ ] Linux
- [ ] macOS
- [X] Windows

### Prettier config

[code]

### Input

[code]

### Output or Error

[code]

### Expected Output

[code]

### Additional Context

it just does not format

[2021-09-08 06:13] Shinigami92 commented on #289
Please use `v-slot:...` until I can fix this.
It's a know bug

[2021-09-10 07:57] Shinigami92 commented on #289
I had a home PC crash yesterday 😢
So sorry that I may not response in next few days, I will try to recover my system and set this as my prio...

[2021-09-11 11:10] #289 closed

[2021-09-11 11:24] Shinigami92 opened #291 "Consider alias `bracketSameLine` for `closingBracketPosition`"
https://prettier.io/docs/en/options.html#bracket-line

[2021-09-26 02:19] richex-cn opened #292 "Bug: prettier-ignore causes the code to be deleted"
### Plugin Version

v1.16.6

### Prettier Version

v2.4.1

### Which frameworks are affected?

- [ ] none
- [X] vue
- [ ] angular
- [ ] svelte

### Node Version

v14.9.0

### Which operating systems have you used?

- [ ] Linux
- [ ] macOS
- [X] Windows

### Prettier config

[code]

### Input

[code]

### Output or Error

[code]

### Expected Output

[code]

### Additional Context

This problem sti

[2021-09-27 08:28] Shinigami92 commented on #292
Sorry for late response, was in vacation for some days

So first please always try to use `//-` comments instead of `//`, cause the later ones are rendered as regular html comments in the served website and the first one will get removed by pug by the transformation to html.

Also very interesting is your usage of `img(...)/`. Will look if the `/` at the end cause any issues :thinking:

The code f

[2021-09-27 08:53] richex-cn commented on #292
@Shinigami92
Thank you for your response, I tried again `// prettier-ignore` or `//- prettier-ignore` and the optional `/` at the end of img, Unfortunately, I tried all possible combinations in html and vue files, and they all have the first problem. This should be a BUG, I am trying to find out the cause of the problem.

[2021-09-27 16:18] Shinigami92 commented on #292
Seems I fixed it :slightly_smiling_face:

But...
1. I would like to have @lehni a review, cause it was his code :slightly_smiling_face:
2. Do you have a more complex example with some nested `indent`/`outdent`?
   If you look into my fix, you can see that it was an issue with incorrectly calculated `outdent`-level. So it could be that it works now for your simple case, but break again for more com

[2021-09-28 02:13] richex-cn commented on #292
Awesome! I successfully got the desired result in the pug file! But the problem still exists when using Vetur to format the vue file in VS Code. I still need some time to get familiar with the source code of Vetur. I am very sorry that I may not be able to follow up immediately due to work reasons.

[2021-09-28 06:38] Shinigami92 commented on #292
@richex-cn I assume you have tested it out via local changes of your `node_modules` content?
If so, could be that you need to fully reload VSCode after the changes due to caching mechanisms.
The Vetur extensions then re-reads the plugin. Otherwise I would assume that Vetur has it's own instance of my plugin and therefore while I haven't release this fix yet, it can also not apply it 🤷

So please w

[2021-09-28 10:28] #292 closed

[2021-09-29 06:08] richex-cn commented on #292
@Shinigami92 Yeah, I pulled the repaired code and packaged and overwritten the files in `node_modules/@prettier/plugin-pug`, and then restarted VSCode. It works fine in the pug file, but there are still problems in the vue file. I reinstalled the dependencies after the new version was released, but it still works like this.
This should be related to the vetur extension, so I submitted an Issue and

[2021-09-29 21:23] skandasoft opened #298 "How to use the prettier plugin for pug"
### Discussed in https://github.com/prettier/plugin-pug/discussions/297

<div type='discussions-op-text'>

<sup>Originally posted by **skandasoft** September 29, 2021</sup>
How to use the prettier plugin for pug..it doesn't seem to work?
![image](https://user-images.githubusercontent.com/9875379/135345384-406806fa-70aa-417f-a9c6-ccaf22bac8c0.png)
I installed the prettier/@prettier-plugin-pug
</div

[2021-09-30 06:37] #298 closed

[2021-10-05 17:31] magurotabetai opened #299 "Bug: "Edit this page" link on document is broken"
## Info

| Tool      | Version                 |
| --------- | ----------------------- |
| Plugin    | main branch                  |
| Prettier  | v2.4.1                  |
| Framework | none |
| Node      | 16.10.0                 |
| OS        | linux|

## Output or Error

"Edit this page" link below these pages is broken.
https://prettier.github.io/plugin-pug/guide/standard-prettier-overrides.

[2021-10-05 18:25] #299 closed

[2021-10-22 11:43] captain-avocado opened #302 "Attributes Hyphenation and Literals/Attributes order"
Hey! Thank you for working on this package.
I started to use it in vue project and found out that there are no rules for [Attributes Hyphenation](https://armano2.github.io/eslint-plugin-vue/rules/attribute-hyphenation.html) and [Literals/Attributes order](https://github.com/pugjs/pug-lint/blob/master/docs/rules.md#requireclassliteralsbeforeattributes-true). I attached links with description, but i

[2021-10-22 11:49] #302 closed, assigned to nobody

[2021-10-22 16:47] captain-avocado opened #303 "Bug: ignore escaping chars in vue prop"
### Plugin Version

v1.16.7

### Prettier Version

v2.4.1

### Which frameworks are affected?

- [ ] none
- [X] vue
- [ ] angular
- [ ] svelte

### Node Version

v10.5.0

### Which operating systems have you used?

- [ ] Linux
- [X] macOS
- [ ] Windows

### Prettier config

[code]

### Input

[code]

### Output or Error

[code]

### Expected Output

[code]

### Additional Context

Hey! I found a p

[2021-10-23 16:28] #303 closed, assigned to nobody

[2021-11-11 10:56] Dradows opened #307 "Bug: Inline js has indentation issues"
### Plugin Version

1.17.1

### Prettier Version

2.4.1

### Which frameworks are affected?

- [X] none
- [ ] vue
- [ ] angular
- [ ] svelte

### Node Version

14.17.1

### Which operating systems have you used?

- [ ] Linux
- [ ] macOS
- [X] Windows

### Prettier config

[code]

### Input

[code]

### Output or Error

[code]

### Expected Output

[code]

### Additional Context

The difference bet

[2021-11-11 11:26] Dradows commented on #307
A temporary solution is to change "useTabs": false

[2021-11-11 12:46] Shinigami92 commented on #307
I think we miss to add `tabWidth` here:

https://github.com/prettier/plugin-pug/blob/6657b733ca11ad4faeab5db454f7d7298b80e00f/src/printer.ts#L241-L249

If you are faster than me AND want to take credits for the fix, feel free to create a PR 🙂
Also pls add a test like a copy of one of https://github.com/prettier/plugin-pug/tree/main/tests/issues

[2021-11-11 16:19] Dradows commented on #307
Problem solved and PR submitted😉

[2021-11-11 17:01] #307 closed

[2021-11-11 17:01] Shinigami92 commented on #307
I may release it tomorrow as a 1.17.2

[2021-11-15 09:45] Shinigami92 opened #310 "Bug: `v-t` directive from vue-i18n doesn't get formatted"
## Info

| Tool      | Version                 |
| --------- | ----------------------- |
| Plugin    | v1.17.2                  |
| Prettier  | v2.4.1                  |
| Framework | vue |
| Node      | v16.13.0                  |
| OS        | win,linux,mac           |

## Prettier config

[code]

## Input

[code]

## Output or Error

nothing changes

## Expected Output

[code]

[2021-11-24 04:30] shadowgate15 opened #313 "Configurable class literal location"
## Request / Idea
Have an option to set where class literals will be placed.

## Input

[code]

## Expected Output

[code]

## Additional Context

[2021-11-24 08:19] Shinigami92 commented on #313
Should the same be applied to `id` literals?
Could you describe >**why**< do you want this feature?

[2021-11-24 16:23] shadowgate15 commented on #313
It is just strictly an opinion of formatting. same as wanting to have attributes sorted.

[2021-11-24 16:28] Shinigami92 commented on #313
Are you interested in creating a PR for that? 🙂
If you need any help, feel free to ask. You can look how other options are implemented and orient on that.

[2021-11-24 16:30] shadowgate15 commented on #313
yep will do! just going to work on the quotes PR first then I can work on this one.

[2021-11-26 17:24] #45 closed

[2021-11-26 17:38] Shinigami92 commented on #45
@Applelo Thank to the lovely work of @shadowgate15 we now released https://www.npmjs.com/package/@prettier/plugin-pug/v/1.18.0 :heart: :raised_hands:

[2021-12-03 08:59] #313 closed

[2021-12-03 10:34] Shinigami92 opened #315 "Bug:"
## Info

| Tool      | Version                 |
| --------- | ----------------------- |
| Plugin    | v1.19.0 (not released yet)                  |
| Prettier  | v2.4.1                  |
| Framework | vue |
| Node      | v16.13.0                  |
| OS        | linux           |

## Prettier config

[code]

## Input

[code]

In Vue

[code]

## Output or Error

[code]

## Expected Output

[code]

[2021-12-03 10:45] Shinigami92 commented on #315
@shadowgate15 I have this (just testing this new option) over my whole codebase. I assume it doesn't have something todo with Vue, but with combination together with `div` tag.

If you need more code examples, pls tell me :slightly_smiling_face:

[2021-12-03 15:36] shadowgate15 commented on #315
I was afraid that would happen but then it never showed up in any of the tests. Will fix now.

[2021-12-04 15:29] Shinigami92 opened #317 "Bug: `pugClassNotation` does not respect `printWidth` and is unstable"
### Plugin Version

v1.19.0 (not released yet)

### Prettier Version

v2.4.1

### Which frameworks are affected?

- [X] none
- [X] vue
- [ ] angular
- [ ] svelte

### Node Version

v16.13

### Which operating systems have you used?

- [X] Linux
- [ ] macOS
- [ ] Windows

### Prettier config

[code]

### Input

[code]

### Output or Error

Toggles between (`formatOnSave`):

[code]

And:

[code]

Al

[2021-12-04 15:31] Shinigami92 commented on #317
@shadowgate15 Please fix this :slightly_smiling_face: I would like to have this feature stable before releasing it

[2021-12-04 15:31] Shinigami92 commented on #317
If you fix this, I think about to give you write access to my repo and list you as a core contributor :heart:

[2021-12-06 20:50] shadowgate15 commented on #317
starting to work on this now.

[2021-12-11 10:42] #317 closed

[2022-01-03 10:11] PavelS-BM opened #323 "Documentation: installing Prettier without --save-exact"
Mayby it would be better to install prettier with --save-exact flag. In Prettier docs, they are stating that you should use:

because:

And when you do

If you install prettier from their docs, and then install pug plugin from this docs, you will rewrite "--save-exact" flag in package.json. So it can produce unwanted changes in your package.json.

[2022-01-03 19:11] ekfuhrmann opened #324 "Bug: Prettier is consolidating mixin objects to single-line"
## Info

| Tool      | Version                 |
| --------- | ----------------------- |
| Plugin    | v1.19.0                  |
| Prettier  | v2.2.1                  |
| Framework | none |
| Node      | 14.17.5                  |
| OS        | win           |

## Prettier config

[code]

## Input

[code]

## Output or Error
[code]

## Expected Output

[code]

## Additional Context

[2022-01-03 19:31] Shinigami92 commented on #324
I already tried to format this, but it's very hard and error-prone :confused:
Theoretically `args` can be anything, it could be json, or a comma separated list of args that contains e.g. also json as one arg, and I cannot find out where a comma of param args is or a json comma is.
So to totally fix this, we would need to have this feature: https://github.com/pugjs/pug/issues/3214

I will also clos

[2022-01-03 19:31] #324 closed

[2022-01-03 19:36] Shinigami92 commented on #324
I added your example to https://github.com/prettier/plugin-pug/pull/288/files#diff-1e245999f5f4f9addd82061304d8883000cec3136adf05176737f29ecdb667d8R26

[2022-01-03 19:38] Shinigami92 commented on #323
Would you like to change this in the docs?

[2022-01-03 19:42] ekfuhrmann commented on #324
Oh gosh, I forgot I created that issue... 🤦. I did a search ahead of time and just didn't do a good enough job, sorry about the duplicate, though I am happy that this example may be more useful.

Thanks again for everything.